In [ ]:
# отключим предупреждения Anaconda
import warnings
warnings.simplefilter('ignore')

# будем отображать графики прямо в jupyter'e
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
#графики в svg выглядят более четкими
%config InlineBackend.figure_format = 'svg' 

#увеличим дефолтный размер графиков
from pylab import rcParams
rcParams['figure.figsize'] = 8, 5
import pandas as pd
# Standard python libraries
import logging
import os
import time
import requests
logging.basicConfig(format='[%(asctime)s] (%(levelname)s): %(message)s', level=logging.INFO)
import lightautoml

# Installed libraries
import numpy as np
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
import torch

# Imports from our package
from lightautoml.automl.presets.tabular_presets import TabularAutoML, TabularUtilizedAutoML
from lightautoml.tasks import Task

import multiprocessing as mp

# set option of max 100 displayed rows
pd.set_option('display.max_rows', 200)

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
konh = pd.read_csv('/content/konh.csv')

      id_client  id_contract  IP_flag  ...  new_F2330   new_F2400  TARGET
0             1       5166.0      0.0  ...        NaN    918000.0     1.0
1             2       2389.0      0.0  ...  -200000.0   1095000.0     0.0
2             3      17329.0      0.0  ...        NaN         NaN     1.0
3             5      15086.0      0.0  ...        NaN  19022000.0     0.0
4             7        933.0      1.0  ...        NaN         NaN     0.0
...         ...          ...      ...  ...        ...         ...     ...
8917      12731      10258.0      0.0  ...        NaN         NaN     1.0
8918      12732      10005.0      0.0  ...        NaN         NaN     0.0
8919      12733       5291.0      0.0  ...        NaN         NaN     0.0
8920      12734       3304.0      0.0  ...        NaN         NaN     1.0
8921      12735      12289.0      0.0  ...        NaN         NaN     0.0

[8922 rows x 169 columns]

In [ ]:
l_d = pd.read_csv('/content/last_df_mkd(5.11).csv')

In [ ]:
l_d = l_d.drop(['Unnamed: 0'],axis=1)

In [ ]:
konh = konh.drop(['Unnamed: 0'],axis=1)

In [ ]:
obj_df = l_d.loc[:,['id_client','IP_flag','EGRPOINCLUDED','OKFS_GROUP','OKOPF_GROUP','OKOGU_GROUP','OKATO_REGIONCODE','OKATO_FED','OKTMO_CODE_fixed','OKTMO_FED','WORKERSRANGE','OKVED_CODE_fixed','FLAG_DISQUALIFICATION','SEX_NAME','CITIZENSHIP_NAME','TELEPHONECOUNT_fixed','MANAGERCOUNTINCOUNTRY_fixed','MANAGERCOUNTINREGION_fixed','MANAGERINNCOUNT_fixed']]

In [ ]:
obj_df = obj_df.astype('category')

In [ ]:
id = konh.id_client.array

In [ ]:
new_obj_df = pd.DataFrame(columns=obj_df.columns)

In [ ]:
for x in id:
    new_obj_df = new_obj_df.append(obj_df[obj_df.id_client==x][0:1])

In [ ]:
obj_df.sort_values(by='id_client')

      id_client IP_flag  ... MANAGERCOUNTINREGION_fixed MANAGERINNCOUNT_fixed
5165          1       0  ...                        1.0                   1.0
2388          2       0  ...                        1.0                   1.0
17328         3       0  ...                        1.0                   1.0
19083         4       0  ...                        1.0                   1.0
15085         5       0  ...                        1.0                   1.0
...         ...     ...  ...                        ...                   ...
10257     12731       0  ...                        3.0                   3.0
10004     12732       0  ...                        3.0                   3.0
5290      12733       0  ...                        2.0                   2.0
3303      12734       0  ...                        1.0                   2.0
12288     12735       0  ...                        2.0                   0.0

[25221 rows x 19 columns]

In [ ]:
konh  = konh.drop(['OKTMO_CODE'],axis=1)

In [ ]:
last_train = pd.merge(konh, new_obj_df, on='id_client', how='outer')

In [ ]:
last_train = last_train.drop(['IP_flag_x'],axis=1)

In [ ]:
last_train

     id_client  id_contract  ...  MANAGERCOUNTINREGION_fixed  MANAGERINNCOUNT_fixed
0            1       5166.0  ...                         1.0                    1.0
1            2       2389.0  ...                         1.0                    1.0
2            3      17329.0  ...                         1.0                    1.0
3            5      15086.0  ...                         1.0                    1.0
4            7        933.0  ...                         NaN                    NaN
...        ...          ...  ...                         ...                    ...
8917     12731      10258.0  ...                         3.0                    3.0
8918     12732      10005.0  ...                         3.0                    3.0
8919     12733       5291.0  ...                         2.0                    2.0
8920     12734       3304.0  ...                         1.0                    2.0
8921     12735      12289.0  ...                         2.0                    0.0

[8922 rows x 186 columns]

In [ ]:
last_train = last_train.drop(['FLAG_DISQUALIFICATION_x','EGRPOINCLUDED_x','OKATO_REGIONCODE_x','OKATO_FED_x','OKTMO_FED_x'],axis=1)

In [ ]:
new_obj_df

      id_client IP_flag  ... MANAGERCOUNTINREGION_fixed MANAGERINNCOUNT_fixed
5165          1       0  ...                        1.0                   1.0
2388          2       0  ...                        1.0                   1.0
17328         3       0  ...                        1.0                   1.0
15085         5       0  ...                        1.0                   1.0
932           7       1  ...                        NaN                   NaN
...         ...     ...  ...                        ...                   ...
10257     12731       0  ...                        3.0                   3.0
10004     12732       0  ...                        3.0                   3.0
5290      12733       0  ...                        2.0                   2.0
3303      12734       0  ...                        1.0                   2.0
12288     12735       0  ...                        2.0                   0.0

[8922 rows x 19 columns]

In [ ]:
sorted(list(last_train.new4.unique()))[-2]
l = [4,5,6,7,10,13,16,19,20,21,22,23,24,25,26,27,28]
def min_inf(x):
    if x==np.inf:
        return m+100
    return x
for x in l:
    m = sorted(list(last_train['new'+str(x)].unique()))[-2]
    last_train['new'+str(x)] = last_train['new'+str(x)].apply(min_inf)

In [ ]:
test

NameError: ignored

In [ ]:
last_train['new3'].describe()

count    1.853000e+03
mean     9.178187e+05
std      5.079952e+06
min      0.000000e+00
25%      2.086000e+03
50%      6.148100e+04
75%      3.453702e+05
max      1.122622e+08
Name: new3, dtype: float64

In [ ]:
l_d['new0'].describe()

count    3.615000e+03
mean     1.730700e+06
std      7.173170e+06
min      0.000000e+00
25%      9.400375e+04
50%      1.368927e+05
75%      5.496305e+05
max      1.181978e+08
Name: new0, dtype: float64

In [ ]:
last_train

     id_client  id_contract  ...  MANAGERCOUNTINREGION_fixed  MANAGERINNCOUNT_fixed
0            1       5166.0  ...                         1.0                    1.0
1            2       2389.0  ...                         1.0                    1.0
2            3      17329.0  ...                         1.0                    1.0
3            5      15086.0  ...                         1.0                    1.0
4            7        933.0  ...                         NaN                    NaN
...        ...          ...  ...                         ...                    ...
8917     12731      10258.0  ...                         3.0                    3.0
8918     12732      10005.0  ...                         3.0                    3.0
8919     12733       5291.0  ...                         2.0                    2.0
8920     12734       3304.0  ...                         1.0                    2.0
8921     12735      12289.0  ...                         2.0                    0.0

[8922 rows x 181 columns]

In [ ]:
new = 'new_F1150	new_F1230	new_F1410	new_F1510	new_F1520	new_F2110	new_F2120	new_F2200	new_F2210	new_F2220	new_F2300	new_F2320	new_F2330'
new = new.split()
new = new + ['new0','new1','new2','new3','new9','new12','new15','new18']

In [ ]:
for x in new:
    m = sorted(list(last_train[x].unique()))[-2]
    last_train[x] = last_train[x].apply(min_inf)

In [ ]:
last_train.describe()

        id_contract         F1100  ...     new_F2400       TARGET
count   8922.000000  3.813000e+03  ...  5.328000e+03  8922.000000
mean    8927.420745  1.500905e+09  ... -3.212004e+05     0.209786
std     4881.111898  2.494452e+10  ...  1.133635e+09     0.402818
min        2.000000 -1.820000e+05  ... -6.370927e+10     0.000000
25%     4889.250000  6.040000e+05  ... -1.084250e+06     0.000000
50%     8903.500000  4.431000e+06  ...  1.225000e+05     0.000000
75%    12848.250000  4.312500e+07  ...  2.344250e+06     0.000000
max    17890.000000  1.250774e+12  ...  2.792094e+10     1.000000

[8 rows x 162 columns]

In [ ]:
last_train.TARGET.value_counts()

0.000000    6977
1.000000    1791
0.500000      64
0.333333      20
0.666667      19
0.750000       9
0.250000       7
0.875000       4
0.800000       3
0.166667       3
0.200000       3
0.900000       2
0.888889       2
0.125000       1
0.026667       1
0.090909       1
0.927273       1
0.939394       1
0.285714       1
0.909091       1
0.100000       1
0.933333       1
0.937500       1
0.969697       1
0.700000       1
0.833333       1
0.058824       1
0.003413       1
0.600000       1
0.941176       1
0.916667       1
Name: TARGET, dtype: int64

In [ ]:
konh.TARGET

0       1.0
1       0.0
2       1.0
3       0.0
4       0.0
       ...
8917    1.0
8918    0.0
8919    0.0
8920    1.0
8921    0.0
Name: TARGET, Length: 8922, dtype: float64

In [ ]:
import scipy.stats as st

In [ ]:
le_ri = []
def per_fil(x):
    if x<l:
        return l
    if x>r:
        return r
    return x
for x in last_train.columns[2:162]:
    data = last_train[x]
    l,r = st.t.interval(alpha=0.99, df=len(data)-1, loc=np.mean(data), scale=np.std(data, ddof=1) / np.sqrt(np.size(data)))
    le_ri.append(l)
    le_ri.append(r)
    last_train[x] = last_train[x].apply(per_fil)

In [ ]:
last_train.iloc[:,2:162]

             F1100  F1110         F1150  ...  new_F2320  new_F2330   new_F2400
0     8.205209e+08    NaN  5.975429e+08  ...        NaN        NaN    918000.0
1     8.205209e+08    NaN  5.975429e+08  ...        NaN  -200000.0   1095000.0
2     8.205209e+08    NaN  5.975429e+08  ...        NaN        NaN         NaN
3     8.205209e+08    NaN  5.975429e+08  ...   256000.0        NaN  19022000.0
4              NaN    NaN           NaN  ...        NaN        NaN         NaN
...            ...    ...           ...  ...        ...        ...         ...
8917           NaN    NaN           NaN  ...        NaN        NaN         NaN
8918           NaN    NaN           NaN  ...        NaN        NaN         NaN
8919           NaN    NaN           NaN  ...        NaN        NaN         NaN
8920           NaN    NaN           NaN  ...        NaN        NaN         NaN
8921           NaN    NaN           NaN  ...        NaN        NaN         NaN

[8922 rows x 160 columns]

In [ ]:
last_train['random'] = [(10**6)*random.random() for i in range(8922)]

# BLYT ETO PIZDEC

In [ ]:
all_df = pd.read_csv('/content/last_df_mkd(5.11).csv')

In [ ]:
all_df = all_df.drop(['Unnamed: 0'],axis=1)

In [ ]:
konh_test = all_df.iloc[17891:,:]

In [ ]:
konh_test = konh_test.groupby('id_client').aggregate('mean').reset_index()

In [ ]:
konh_test.F1160.value_counts()

2.150000e+05    1
8.009000e+06    1
3.687500e+07    1
8.710000e+05    1
3.025000e+06    1
1.262300e+07    1
6.620900e+07    1
1.266000e+06    1
1.184000e+06    1
3.908000e+06    1
1.331000e+06    1
2.155800e+07    1
1.900000e+04    1
7.746000e+06    1
5.930000e+05    1
1.150000e+06    1
5.451000e+06    1
1.133000e+06    1
8.940000e+05    1
4.000000e+04    1
1.037000e+07    1
1.259800e+07    1
3.832400e+07    1
3.690000e+05    1
7.280000e+06    1
3.312000e+06    1
9.790400e+07    1
1.318000e+06    1
9.172000e+06    1
1.693980e+08    1
6.552000e+06    1
1.300000e+05    1
1.330000e+05    1
1.309400e+07    1
2.230000e+05    1
1.390000e+05    1
5.692000e+06    1
1.015570e+08    1
2.977000e+06    1
2.820000e+05    1
2.649000e+06    1
6.000000e+03    1
2.056000e+06    1
2.351000e+06    1
8.238000e+06    1
7.189000e+06    1
2.337998e+09    1
3.823000e+06    1
3.031100e+07    1
3.592000e+06    1
4.436000e+07    1
6.030000e+05    1
9.507000e+06    1
4.178000e+06    1
3.998000e+06    1
Name: F1160, dtype: int64

In [ ]:
konh_test.describe()

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:3968: RuntimeWarning: invalid value encountered in multiply
  x2 = take(ap, indices_above, axis=axis) * weights_above

          id_client   id_contract  ...     new_F2330     new_F2400
count   4761.000000   4761.000000  ...  6.130000e+02  2.589000e+03
mean    6411.463558  21653.221380  ...  6.455460e+06 -2.607749e+07
std     3656.888423   2123.465805  ...  2.378461e+08  2.426928e+09
min        4.000000  17893.000000  ... -3.079963e+09 -1.180900e+11
25%     3278.000000  19806.000000  ... -5.060000e+05 -9.580000e+05
50%     6441.000000  21692.000000  ...  8.000000e+03  1.630000e+05
75%     9584.000000  23539.500000  ...  1.068000e+06  2.264000e+06
max    12730.000000  25221.000000  ...  3.539916e+09  3.316223e+10

[8 rows x 169 columns]

In [ ]:
konh.describe()

          id_client   id_contract  ...     new_F2400       TARGET
count   8922.000000   8922.000000  ...  5.328000e+03  8922.000000
mean    6367.712845   8927.420745  ... -3.212004e+05     0.209786
std     3680.554333   4881.111898  ...  1.133635e+09     0.402818
min        1.000000      2.000000  ... -6.370927e+10     0.000000
25%     3179.250000   4889.250000  ... -1.084250e+06     0.000000
50%     6365.500000   8903.500000  ...  1.225000e+05     0.000000
75%     9569.750000  12848.250000  ...  2.344250e+06     0.000000
max    12735.000000  17890.000000  ...  2.792094e+10     1.000000

[8 rows x 169 columns]

In [ ]:
giper_konh = pd.concat([konh,konh_test])

In [ ]:
giper_konh

      id_client  id_contract  IP_flag  ...   new_F2400  TARGET    OKTMO_CODE
0             1       5166.0      0.0  ...    918000.0     1.0           NaN
1             2       2389.0      0.0  ...   1095000.0     0.0           NaN
2             3      17329.0      0.0  ...         NaN     1.0           NaN
3             5      15086.0      0.0  ...  19022000.0     0.0           NaN
4             7        933.0      1.0  ...         NaN     0.0           NaN
...         ...          ...      ...  ...         ...     ...           ...
4756      12725      20931.0      0.0  ...         NaN     NaN  4.532300e+10
4757      12726      21787.0      0.0  ...         NaN     NaN  4.532700e+10
4758      12728      20031.0      0.0  ...         NaN     NaN  4.532900e+10
4759      12729      24210.5      0.0  ...         NaN     NaN  4.532100e+10
4760      12730      24858.0      0.0  ...         NaN     NaN  4.532100e+10

[13683 rows x 170 columns]

In [ ]:
konh = konh.drop(['TARGET'],axis=1)
konh_test = konh_test.drop(['OKTMO_CODE'],axis=1)

In [ ]:
25221-7330

17891

In [ ]:
train_df = all_df.iloc[:17891,:]
test_df = all_df.iloc[17891:,:]

In [ ]:
obj_df_tr = train_df.loc[:,['id_client','IP_flag','EGRPOINCLUDED','OKFS_GROUP','OKOPF_GROUP','OKOGU_GROUP','OKATO_REGIONCODE','OKATO_FED','OKTMO_CODE_fixed','OKTMO_FED','WORKERSRANGE','OKVED_CODE_fixed','FLAG_DISQUALIFICATION','SEX_NAME','CITIZENSHIP_NAME','TELEPHONECOUNT_fixed','MANAGERCOUNTINCOUNTRY_fixed','MANAGERCOUNTINREGION_fixed','MANAGERINNCOUNT_fixed']]

In [ ]:
obj_df_tr = obj_df_tr.astype('category')

In [ ]:
id_tr = konh.id_client.array

In [ ]:
new_obj_df_tr = pd.DataFrame(columns=obj_df_tr.columns)

In [ ]:
for x in id_tr:
    new_obj_df_tr = new_obj_df_tr.append(obj_df_tr[obj_df_tr.id_client==x][0:1])

In [ ]:
id_te

NameError: ignored

In [ ]:
obj_df_te = test_df.loc[:,['id_client','IP_flag','EGRPOINCLUDED','OKFS_GROUP','OKOPF_GROUP','OKOGU_GROUP','OKATO_REGIONCODE','OKATO_FED','OKTMO_CODE_fixed','OKTMO_FED','WORKERSRANGE','OKVED_CODE_fixed','FLAG_DISQUALIFICATION','SEX_NAME','CITIZENSHIP_NAME','TELEPHONECOUNT_fixed','MANAGERCOUNTINCOUNTRY_fixed','MANAGERCOUNTINREGION_fixed','MANAGERINNCOUNT_fixed']]

In [ ]:
obj_df_te = obj_df_te.astype('category')

In [ ]:
id_te = konh_test.id_client.array

In [ ]:
new_obj_df_te = pd.DataFrame(columns=obj_df_te.columns)

In [ ]:
for x in id_te:
    new_obj_df_te = new_obj_df_te.append(obj_df_te[obj_df_te.id_client==x][0:1])

In [ ]:
new_obj_df_te

      id_client IP_flag  ... MANAGERCOUNTINREGION_fixed MANAGERINNCOUNT_fixed
19083         4       0  ...                        1.0                   1.0
24954         6       0  ...                        1.0                   1.0
21716         8       0  ...                        1.0                   1.0
19202        18       0  ...                        1.0                   1.0
18779        19       0  ...                        1.0                   1.0
...         ...     ...  ...                        ...                   ...
20930     12725       0  ...                        1.0                   1.0
21786     12726       0  ...                        1.0                   1.0
20030     12728       0  ...                        3.0                   3.0
23912     12729       0  ...                        1.0                   1.0
24857     12730       0  ...                        1.0                   1.0

[4761 rows x 19 columns]

      id_client  id_contract  IP_flag  ...  new_F2320  new_F2330  new_F2400
0             4      19084.0      0.0  ...        NaN        NaN -2093000.0
1             6      24955.0      0.0  ...        NaN        NaN        NaN
2             8      21717.0      0.0  ...        NaN        NaN    38000.0
3            18      19618.5      0.0  ...        NaN        NaN        NaN
4            19      18780.0      0.0  ...     1000.0        NaN  -185000.0
...         ...          ...      ...  ...        ...        ...        ...
4756      12725      20931.0      0.0  ...        NaN        NaN        NaN
4757      12726      21787.0      0.0  ...        NaN        NaN        NaN
4758      12728      20031.0      0.0  ...        NaN        NaN        NaN
4759      12729      24210.5      0.0  ...        NaN        NaN        NaN
4760      12730      24858.0      0.0  ...        NaN        NaN        NaN

[4761 rows x 168 columns]

In [ ]:
last_train = pd.merge(konh, new_obj_df_tr, on='id_client', how='outer')

In [ ]:
last_test = pd.merge(konh_test, new_obj_df_te, on='id_client', how='outer')

In [ ]:
all_tune_df = pd.concat([last_train,last_test]).reset_index().drop(['index'],axis=1)

In [ ]:
all_tune_df#8922

      id_client  id_contract  ...  MANAGERCOUNTINREGION_fixed  MANAGERINNCOUNT_fixed
0             1       5166.0  ...                         1.0                    1.0
1             2       2389.0  ...                         1.0                    1.0
2             3      17329.0  ...                         1.0                    1.0
3             5      15086.0  ...                         1.0                    1.0
4             7        933.0  ...                         NaN                    NaN
...         ...          ...  ...                         ...                    ...
13678     12725      20931.0  ...                         1.0                    1.0
13679     12726      21787.0  ...                         1.0                    1.0
13680     12728      20031.0  ...                         3.0                    3.0
13681     12729      24210.5  ...                         1.0                    1.0
13682     12730      24858.0  ...                         1.0                    1.0

[13683 rows x 186 columns]

In [ ]:
all_tune_df = all_tune_df.drop(['FLAG_DISQUALIFICATION_x','EGRPOINCLUDED_x','OKATO_REGIONCODE_x','OKATO_FED_x','OKTMO_FED_x'],axis=1)

In [ ]:
sorted(list(all_tune_df.new4.unique()))[-2]
l = [4,5,6,7,10,13,16,19,20,21,22,23,24,25,26,27,28]
def min_inf(x):
    if x==np.inf:
        return m**3
    return x
for x in l:
    m = sorted(list(all_tune_df['new'+str(x)].unique()))[-2]
    all_tune_df['new'+str(x)] = all_tune_df['new'+str(x)].apply(min_inf)

In [ ]:
new = 'new_F1150	new_F1230	new_F1410	new_F1510	new_F1520	new_F2110	new_F2120	new_F2200	new_F2210	new_F2220	new_F2300	new_F2320	new_F2330'
new = new.split()
new = new + ['new0','new1','new2','new3','new9','new12','new15','new18']

In [ ]:
for x in new:
    m = sorted(list(all_tune_df[x].unique()))[-2]
    all_tune_df[x] = all_tune_df[x].apply(min_inf)

In [ ]:
all_tune_df.describe()

        id_contract     IP_flag_x  ...     new_F2400  OKATO_REGIONCODE_y
count  13683.000000  13683.000000  ...  7.917000e+03        12976.000000
mean   13355.363216      0.197537  ... -8.743966e+06           46.353961
std     7338.153942      0.396563  ...  1.670505e+09           25.274766
min        2.000000      0.000000  ... -1.180900e+11            1.000000
25%     7189.500000      0.000000  ... -1.048000e+06           28.000000
50%    13140.000000      0.000000  ...  1.330000e+05           45.000000
75%    20039.325000      0.000000  ...  2.332000e+06           65.000000
max    25221.000000      1.000000  ...  3.316223e+10           99.000000

[8 rows x 163 columns]

In [ ]:
import scipy.stats as st

In [ ]:
data = all_tune_df['F1100']

In [ ]:
l,r = st.t.interval(alpha=0.99, df=len(data)-sum(np.isnan(data))-1, loc=np.mean(data), scale=np.std(data, ddof=1) / np.sqrt(np.size(data)))

In [ ]:
le_ri = []
def per_fil(x):
    if x<l:
        return l
    if x>r:
        return r
    return x
for x in all_tune_df.columns[2:162]:
    data = all_tune_df[x][(1+(-1)*np.isnan(all_tune_df[x])).apply(np.bool)]
    l,r = st.t.interval(alpha=0.99, df=len(data), loc=np.mean(data), scale=np.std(data, ddof=1) / np.sqrt(np.size(data)))
    le_ri.append(l)
    le_ri.append(r)
    all_tune_df[x] = all_tune_df[x].apply(per_fil)

In [ ]:
x = 'new_F2400'
data = all_tune_df[x][(1+(-1)*np.isnan(all_tune_df[x])).apply(np.bool)]
l,r = st.t.interval(alpha=0.99, df=len(data), loc=np.mean(data), scale=np.std(data, ddof=1) / np.sqrt(np.size(data)))
le_ri.append(l)
le_ri.append(r)
all_tune_df[x] = all_tune_df[x].apply(per_fil)

In [ ]:
all_tune_df = all_tune_df.drop(['IP_flag_x'],axis=1)

In [ ]:
#mmean
#sstd
def std_scal(e):
    return (e-mmean)/sstd

In [ ]:
for x in all_tune_df.columns[2:162]:
    data = all_tune_df[x][(1+(-1)*np.isnan(all_tune_df[x])).apply(np.bool)]
    mmean = np.mean(data)
    sstd = np.std(data)
    all_tune_df[x] = all_tune_df[x].apply(std_scal)

In [ ]:
all_tune_df

      id_client  id_contract  ...  MANAGERCOUNTINREGION_fixed  MANAGERINNCOUNT_fixed
0             1       5166.0  ...                         1.0                    1.0
1             2       2389.0  ...                         1.0                    1.0
2             3      17329.0  ...                         1.0                    1.0
3             5      15086.0  ...                         1.0                    1.0
4             7        933.0  ...                         NaN                    NaN
...         ...          ...  ...                         ...                    ...
13678     12725      20931.0  ...                         1.0                    1.0
13679     12726      21787.0  ...                         1.0                    1.0
13680     12728      20031.0  ...                         3.0                    3.0
13681     12729      24210.5  ...                         1.0                    1.0
13682     12730      24858.0  ...                         1.0                    1.0

[13683 rows x 180 columns]

In [ ]:
!pip install lightautoml

Collecting lightautoml
  Downloading LightAutoML-0.3.1-py3-none-any.whl (293 kB)
     |████████████████████████████████| 293 kB 12.5 MB/s
Requirement already satisfied: pandas>=1 in /usr/local/lib/python3.7/dist-packages (from lightautoml) (1.1.5)
Collecting optuna
  Downloading optuna-2.10.0-py3-none-any.whl (308 kB)
     |████████████████████████████████| 308 kB 57.2 MB/s
Requirement already satisfied: torchvision in /usr/local/lib/python3.7/dist-packages (from lightautoml) (0.11.1+cu111)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from lightautoml) (2.11.3)
Collecting catboost
  Downloading catboost-1.0.3-cp37-none-manylinux1_x86_64.whl (76.3 MB)
     |████████████████████████████████| 76.3 MB 39 kB/s
Collecting poetry-core<2.0.0,>=1.0.0
  Downloading poetry_core-1.0.7-py2.py3-none-any.whl (424 kB)
     |████████████████████████████████| 424 kB 58.5 MB/s
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.7/dist-packages (from lightautoml) (0.22.2.post1)
Requirement already satisfied: holidays in /usr/local/lib/python3.7/dist-packages (from lightautoml) (0.10.5.2)
Collecting dataclasses==0.6
  Downloading dataclasses-0.6-py3-none-any.whl (14 kB)
Collecting numpy>=1.20.0
  Downloading numpy-1.21.4-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     |████████████████████████████████| 15.7 MB 60 kB/s
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from lightautoml) (2.6.3)
Collecting lightgbm<3.0,>=2.3
  Downloading lightgbm-2.3.1-py2.py3-none-manylinux1_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 40.7 MB/s
Collecting json2html
  Downloading json2html-1.3.0.tar.gz (7.0 kB)
Collecting cmaes
  Downloading cmaes-0.8.2-py3-none-any.whl (15 kB)
Collecting autowoe>=1.2
  Downloading AutoWoE-1.2.5-py3-none-any.whl (204 kB)
     |████████████████████████████████| 204 kB 55.4 MB/s
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from lightautoml) (3.13)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from lightautoml) (0.11.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from lightautoml) (1.1.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from lightautoml) (4.62.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from lightautoml) (1.4.1)
Collecting torch<1.9
  Downloading torch-1.8.1-cp37-cp37m-manylinux1_x86_64.whl (804.1 MB)
     |████████████████████████████████| 804.1 MB 2.3 kB/s
Collecting importlib-metadata<2.0,>=1.0
  Downloading importlib_metadata-1.7.0-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from autowoe>=1.2->lightautoml) (2018.9)
Requirement already satisfied: sphinx in /usr/local/lib/python3.7/dist-packages (from autowoe>=1.2->lightautoml) (1.8.5)
Collecting sphinx-rtd-theme
  Downloading sphinx_rtd_theme-1.0.0-py2.py3-none-any.whl (2.8 MB)
     |████████████████████████████████| 2.8 MB 72.6 MB/s
Requirement already satisfied: pytest in /usr/local/lib/python3.7/dist-packages (from autowoe>=1.2->lightautoml) (3.6.4)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from autowoe>=1.2->lightautoml) (3.2.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata<2.0,>=1.0->lightautoml) (3.6.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1->lightautoml) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1->lightautoml) (1.15.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch<1.9->lightautoml) (3.10.0.2)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost->lightautoml) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost->lightautoml) (4.4.1)
Requirement already satisfied: convertdate>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from holidays->lightautoml) (2.3.2)
Requirement already satisfied: hijri-converter in /usr/local/lib/python3.7/dist-packages (from holidays->lightautoml) (2.2.2)
Requirement already satisfied: korean-lunar-calendar in /usr/local/lib/python3.7/dist-packages (from holidays->lightautoml) (0.2.1)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /usr/local/lib/python3.7/dist-packages (from convertdate>=2.3.0->holidays->lightautoml) (0.5.11)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->lightautoml) (2.0.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->autowoe>=1.2->lightautoml) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->autowoe>=1.2->lightautoml) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->autowoe>=1.2->lightautoml) (2.4.7)
Collecting colorlog
  Downloading colorlog-6.6.0-py2.py3-none-any.whl (11 kB)
Collecting cliff
  Downloading cliff-3.9.0-py3-none-any.whl (80 kB)
     |████████████████████████████████| 80 kB 8.8 MB/s
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from optuna->lightautoml) (21.2)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from optuna->lightautoml) (1.4.26)
Collecting alembic
  Downloading alembic-1.7.5-py3-none-any.whl (209 kB)
     |████████████████████████████████| 209 kB 77.8 MB/s
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna->lightautoml) (1.1.2)
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.7/dist-packages (from alembic->optuna->lightautoml) (5.4.0)
Collecting Mako
  Downloading Mako-1.1.5-py2.py3-none-any.whl (75 kB)
     |████████████████████████████████| 75 kB 4.2 MB/s
Collecting autopage>=0.4.0
  Downloading autopage-0.4.0-py3-none-any.whl (20 kB)
Collecting cmd2>=1.0.0
  Downloading cmd2-2.3.0-py3-none-any.whl (148 kB)
     |████████████████████████████████| 148 kB 54.0 MB/s
Collecting pbr!=2.1.0,>=2.0.0
  Downloading pbr-5.7.0-py2.py3-none-any.whl (112 kB)
     |████████████████████████████████| 112 kB 57.4 MB/s
Collecting stevedore>=2.0.1
  Downloading stevedore-3.5.0-py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 5.7 MB/s
Requirement already satisfied: PrettyTable>=0.7.2 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna->lightautoml) (2.4.0)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna->lightautoml) (0.2.5)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna->lightautoml) (21.2.0)
Collecting pyperclip>=1.6
  Downloading pyperclip-1.8.2.tar.gz (20 kB)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost->lightautoml) (1.3.3)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.7/dist-packages (from pytest->autowoe>=1.2->lightautoml) (1.4.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.7/dist-packages (from pytest->autowoe>=1.2->lightautoml) (0.7.1)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from pytest->autowoe>=1.2->lightautoml) (1.11.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from pytest->autowoe>=1.2->lightautoml) (57.4.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from pytest->autowoe>=1.2->lightautoml) (8.10.0)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from sphinx->autowoe>=1.2->lightautoml) (2.23.0)
Requirement already satisfied: Pygments>=2.0 in /usr/local/lib/python3.7/dist-packages (from sphinx->autowoe>=1.2->lightautoml) (2.6.1)
Requirement already satisfied: docutils>=0.11 in /usr/local/lib/python3.7/dist-packages (from sphinx->autowoe>=1.2->lightautoml) (0.18)
Requirement already satisfied: snowballstemmer>=1.1 in /usr/local/lib/python3.7/dist-packages (from sphinx->autowoe>=1.2->lightautoml) (2.1.0)
Requirement already satisfied: imagesize in /usr/local/lib/python3.7/dist-packages (from sphinx->autowoe>=1.2->lightautoml) (1.3.0)
Requirement already satisfied: babel!=2.0,>=1.3 in /usr/local/lib/python3.7/dist-packages (from sphinx->autowoe>=1.2->lightautoml) (2.9.1)
Requirement already satisfied: alabaster<0.8,>=0.7 in /usr/local/lib/python3.7/dist-packages (from sphinx->autowoe>=1.2->lightautoml) (0.7.12)
Requirement already satisfied: sphinxcontrib-websupport in /usr/local/lib/python3.7/dist-packages (from sphinx->autowoe>=1.2->lightautoml) (1.2.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->sphinx->autowoe>=1.2->lightautoml) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->sphinx->autowoe>=1.2->lightautoml) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->sphinx->autowoe>=1.2->lightautoml) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->sphinx->autowoe>=1.2->lightautoml) (1.24.3)
Collecting docutils>=0.11
  Downloading docutils-0.17.1-py2.py3-none-any.whl (575 kB)
     |████████████████████████████████| 575 kB 65.9 MB/s
Requirement already satisfied: sphinxcontrib-serializinghtml in /usr/local/lib/python3.7/dist-packages (from sphinxcontrib-websupport->sphinx->autowoe>=1.2->lightautoml) (1.1.5)
Collecting torchvision
  Downloading torchvision-0.11.1-cp37-cp37m-manylinux1_x86_64.whl (23.3 MB)
     |████████████████████████████████| 23.3 MB 1.3 MB/s
  Downloading torchvision-0.10.1-cp37-cp37m-manylinux1_x86_64.whl (22.1 MB)
     |████████████████████████████████| 22.1 MB 67.2 MB/s
  Downloading torchvision-0.10.0-cp37-cp37m-manylinux1_x86_64.whl (22.1 MB)
     |████████████████████████████████| 22.1 MB 1.5 MB/s
Requirement already satisfied: pillow>=5.3.0 in /usr/local/lib/python3.7/dist-packages (from torchvision->lightautoml) (7.1.2)
  Downloading torchvision-0.9.1-cp37-cp37m-manylinux1_x86_64.whl (17.4 MB)
     |████████████████████████████████| 17.4 MB 118 kB/s
Building wheels for collected packages: json2html, pyperclip
  Building wheel for json2html (setup.py) ... done
  Created wheel for json2html: filename=json2html-1.3.0-py3-none-any.whl size=7609 sha256=3a29bdd28b043b41f5fa9b1a0bc5567c23f6d0d14266a146fcb93031bb1aa6ac
  Stored in directory: /root/.cache/pip/wheels/e5/99/37/e1839a5ad733e0d6abb7e0419fd913e8926ddf96408239ce01
  Building wheel for pyperclip (setup.py) ... done
  Created wheel for pyperclip: filename=pyperclip-1.8.2-py3-none-any.whl size=11136 sha256=5575bfda74c9156dc1ecbb4e7020d297a6a9d20a80702e08b348b577d61f9b4e
  Stored in directory: /root/.cache/pip/wheels/9f/18/84/8f69f8b08169c7bae2dde6bd7daf0c19fca8c8e500ee620a28
Successfully built json2html pyperclip
Installing collected packages: numpy, pyperclip, pbr, importlib-metadata, docutils, stevedore, Mako, cmd2, autopage, torch, sphinx-rtd-theme, lightgbm, colorlog, cmaes, cliff, alembic, torchvision, poetry-core, optuna, json2html, dataclasses, catboost, autowoe, lightautoml
  Attempting uninstall: numpy
    Found existing installation: numpy 1.19.5
    Uninstalling numpy-1.19.5:
      Successfully uninstalled numpy-1.19.5
  Attempting uninstall: importlib-metadata
    Found existing installation: importlib-metadata 4.8.2
    Uninstalling importlib-metadata-4.8.2:
      Successfully uninstalled importlib-metadata-4.8.2
  Attempting uninstall: docutils
    Found existing installation: docutils 0.18
    Uninstalling docutils-0.18:
      Successfully uninstalled docutils-0.18
  Attempting uninstall: torch
    Found existing installation: torch 1.10.0+cu111
    Uninstalling torch-1.10.0+cu111:
      Successfully uninstalled torch-1.10.0+cu111
  Attempting uninstall: lightgbm
    Found existing installation: lightgbm 2.2.3
    Uninstalling lightgbm-2.2.3:
      Successfully uninstalled lightgbm-2.2.3
  Attempting uninstall: torchvision
    Found existing installation: torchvision 0.11.1+cu111
    Uninstalling torchvision-0.11.1+cu111:
      Successfully uninstalled torchvision-0.11.1+cu111
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
torchtext 0.11.0 requires torch==1.10.0, but you have torch 1.8.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed Mako-1.1.5 alembic-1.7.5 autopage-0.4.0 autowoe-1.2.5 catboost-1.0.3 cliff-3.9.0 cmaes-0.8.2 cmd2-2.3.0 colorlog-6.6.0 dataclasses-0.6 docutils-0.17.1 importlib-metadata-1.7.0 json2html-1.3.0 lightautoml-0.3.1 lightgbm-2.3.1 numpy-1.21.4 optuna-2.10.0 pbr-5.7.0 poetry-core-1.0.7 pyperclip-1.8.2 sphinx-rtd-theme-1.0.0 stevedore-3.5.0 torch-1.8.1 torchvision-0.9.1

In [ ]:
# отключим предупреждения Anaconda
import warnings
warnings.simplefilter('ignore')

# будем отображать графики прямо в jupyter'e
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
#графики в svg выглядят более четкими
%config InlineBackend.figure_format = 'svg' 

#увеличим дефолтный размер графиков
from pylab import rcParams
rcParams['figure.figsize'] = 8, 5
import pandas as pd
# Standard python libraries
import logging
import os
import time
import requests
logging.basicConfig(format='[%(asctime)s] (%(levelname)s): %(message)s', level=logging.INFO)
import lightautoml

# Installed libraries
import numpy as np
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
import torch

# Imports from our package
from lightautoml.automl.presets.tabular_presets import TabularAutoML, TabularUtilizedAutoML
from lightautoml.tasks import Task

import multiprocessing as mp

# set option of max 100 displayed rows
pd.set_option('display.max_rows', 200)

In [ ]:
N_THREADS = mp.cpu_count() # threads cnt for lgbm and linear models
N_FOLDS = 10 # folds cnt for AutoML - 10 is better
RANDOM_STATE = 42 # fixed random state for various reasons
TIMEOUT = 3600 # Time in seconds for automl run
TARGET_NAME = 'TARGET' # Target column name

In [ ]:
%%time

roles = {'target': TARGET_NAME,
         'drop': ['id_contract','id_client']
         }

CPU times: user 6 µs, sys: 0 ns, total: 6 µs
Wall time: 9.78 µs

In [ ]:
%%time

task = Task('binary', loss='logloss', metric='auc')

CPU times: user 4.59 ms, sys: 5 µs, total: 4.6 ms
Wall time: 11.6 ms

In [ ]:
import random
def n05(x):
    if x>0.5:
        return 1
    if x==0.5:
        return random.choice([0, 1])
    return 0

In [ ]:
train_tune_df = all_tune_df.iloc[:8922]

In [ ]:
konh1 = pd.read_csv('/content/konh.csv')

In [ ]:
labels_tune = konh1.TARGET

In [ ]:
train_tune_df['TARGET'] = labels_tune.apply(n05)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
train_tune_df

     id_client  id_contract  ...  MANAGERINNCOUNT_fixed  TARGET
0            1       5166.0  ...                    1.0       1
1            2       2389.0  ...                    1.0       0
2            3      17329.0  ...                    1.0       1
3            5      15086.0  ...                    1.0       0
4            7        933.0  ...                    NaN       0
...        ...          ...  ...                    ...     ...
8917     12731      10258.0  ...                    3.0       1
8918     12732      10005.0  ...                    3.0       0
8919     12733       5291.0  ...                    2.0       0
8920     12734       3304.0  ...                    2.0       1
8921     12735      12289.0  ...                    0.0       0

[8922 rows x 181 columns]

In [ ]:
#### %%time 
automl = TabularUtilizedAutoML(task = task, 
                       timeout = 2400,
                       cpu_limit = N_THREADS,
                       #general_params = {'use_algos': [['linear_l2', 'lgb', 'lgb_tuned']]},
                       reader_params = {'n_jobs': N_THREADS, 'cv': N_FOLDS, 'random_state': RANDOM_STATE},
                      )
oof_pred = automl.fit_predict(train_tune_df[top30], roles = roles)
logging.info('oof_pred:\n{}\nShape = {}'.format(oof_pred, oof_pred.shape))

In [ ]:
roc_auc_score(train_tune_df.TARGET,oof_pred.data)

0.8311992654122304

In [ ]:
automl.get_feature_scores()

                        Feature    Importance
0              OKVED_CODE_fixed  27979.557280
1                  WORKERSRANGE  21659.944173
2              OKTMO_CODE_fixed   8905.173985
3            OKATO_REGIONCODE_y   6768.158902
4                         new16   6140.499060
5                     new_F2300   5137.535119
6                     new_F2200   4626.629576
7                     new_F2400   4162.476371
8                    OKFS_GROUP   4137.587962
9          TELEPHONECOUNT_fixed   3587.554306
10                        F2410   3168.135641
11                  OKATO_FED_y   3093.177419
12         SIGNEDNUMBER_95_EVER   3080.755581
13                         new1   3031.785842
14                        new15   2456.144367
15  MANAGERCOUNTINCOUNTRY_fixed   2368.191350
16                          AGE   2328.689598
17                    new_F2210   2102.525672
18                    new_F1520   2037.140249
19                    new_F2330   1798.215119
20                    new_F1150   1764.349247
21                        new11   1688.454923
22                    new_F2110   1671.368591
23                        F2340   1629.530431
24                         new8   1453.030295
25                        new25   1434.503210
26                        F1210   1340.370958
27                    new_F1230   1315.170488
28                         new2   1133.014340
29                   F2200_LAG1    623.296301

In [ ]:
top30 = feature_score[:30]

In [ ]:
top30

['id_client',
 'id_contract',
 'TARGET',
 'OKVED_CODE_fixed',
 'WORKERSRANGE',
 'OKTMO_CODE_fixed',
 'new16',
 'OKATO_REGIONCODE_y',
 'new_F2200',
 'TELEPHONECOUNT_fixed',
 'new_F2300',
 'new_F2400',
 'OKFS_GROUP',
 'OKATO_FED_y',
 'F2410',
 'new1',
 'AGE',
 'SIGNEDNUMBER_95_EVER',
 'new15',
 'new_F1520',
 'new_F1150',
 'new25',
 'MANAGERCOUNTINCOUNTRY_fixed',
 'new_F2110',
 'new_F2210',
 'F2340',
 'new11',
 'new_F2330',
 'new2',
 'F1210',
 'F2200_LAG1',
 'new8',
 'new_F1230']

In [ ]:
top30 = list(top30.Feature.array)

AttributeError: ignored

In [ ]:
top30 = ['id_client','id_contract','TARGET']+top30

In [ ]:
top30 = ['id_client','id_contract','TARGET']

In [ ]:
from sklearn.metrics import roc_auc_score

In [ ]:
roc_auc_score(train_tune_df.TARGET,oof_pred.data)

0.8335662485751009

In [ ]:
feature_score = automl.get_feature_scores()

In [ ]:
test_pred = automl.predict(all_tune_df.loc[8922:,top30[3:]])

In [ ]:
test_pred

array([[0.06262112],
       [0.01364326],
       [0.0101991 ],
       ...,
       [0.8571751 ],
       [0.03476048],
       [0.48198575]], dtype=float32)

In [ ]:
otpr_df = pd.DataFrame()

In [ ]:
otpr_df['id_client'] = all_tune_df.iloc[8922:,:]['id_client']

In [ ]:
otpr_df['TARGET'] = test_pred.data

In [ ]:
tar = []

In [ ]:
id = list(train_tune_df['id_client'].array)

In [ ]:
dec = dict(zip(id,labels_tune))

In [ ]:
id_test = list(otpr_df['id_client'].array)

In [ ]:
test_pred = test_pred.data.squeeze()

In [ ]:
test_pred = list(test_pred)

In [ ]:
for i in range(len(id_test)):
    if id_test[i] in id:
        tar.append(dec[id_test[i]])
    else:
        tar.append(test_pred[i])

In [ ]:
otpr_df['TARGET'] = tar

In [ ]:
dec_test = dict(zip(list(otpr_df['id_client'].array),tar))

In [ ]:
last_test_df = all_df.loc[17891:,['id_client','id_contract']]

In [ ]:
last_tar = []
last_id = list(last_test_df['id_client'].array)

In [ ]:
for x in last_id:
    last_tar.append(dec_test[x])

In [ ]:
last_test_df['TARGET'] = last_tar

In [ ]:
last_test_df

       id_client  id_contract    TARGET
17891       3620        17892  0.000000
17892       4101        17893  0.000000
17893       9589        17894  0.131144
17894      11546        17895  0.271729
17895      12558        17896  1.000000
...          ...          ...       ...
25216       8128        25217  0.449205
25217       1132        25218  0.000000
25218       4932        25219  0.364439
25219        537        25220  0.549814
25220       9916        25221  0.024990

[7330 rows x 3 columns]

In [ ]:
last_test_df.drop(['id_client'],axis=1).to_csv('trying_scaled.csv', index=False,sep=';')

In [ ]:
a1 = pd.read_csv('/content/trying_scaled.csv',sep=';')
a2 = pd.read_csv('/content/trying_ouh3aaa.csv',sep=';')

In [ ]:
t1 = a1.TARGET
t2 = a2.TARGET

In [ ]:
a1.TARGET = (t1+t2)/2

In [ ]:
a1.to_csv('trying_scaled+blend.csv', index=False,sep=';')

In [ ]:
test_pred.data.squeeze()

array([0.06262112, 0.01364326, 0.0101991 , ..., 0.8571751 , 0.03476048,
       0.48198575], dtype=float32)

In [ ]:
a3.to_csv('/content/trying_scaled+blend3.csv',index=False,sep=';')

In [ ]:
a4 = pd.read_csv('/content/trying_scaled+blend.csv',sep=';')

In [ ]:
last_test_df.TARGET

NameError: ignored

In [ ]:
a3 = pd.read_csv('/content/trying_ouh3aaa.csv',sep=';')

In [ ]:
a3['TARGET'] = (a3.TARGET.array+last_test_df.TARGET.array)/2

In [ ]:
(a3.TARGET.array+last_test_df.TARGET.array)/2

<PandasArray>
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
 ...
 nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
Length: 7330, dtype: float64

In [ ]:
automl.get_feature_scores()

                        Feature    Importance
0              OKVED_CODE_fixed  27979.557280
1                  WORKERSRANGE  21659.944173
2              OKTMO_CODE_fixed   8905.173985
3            OKATO_REGIONCODE_y   6768.158902
4                         new16   6140.499060
5                     new_F2300   5137.535119
6                     new_F2200   4626.629576
7                     new_F2400   4162.476371
8                    OKFS_GROUP   4137.587962
9          TELEPHONECOUNT_fixed   3587.554306
10                        F2410   3168.135641
11                  OKATO_FED_y   3093.177419
12         SIGNEDNUMBER_95_EVER   3080.755581
13                         new1   3031.785842
14                        new15   2456.144367
15  MANAGERCOUNTINCOUNTRY_fixed   2368.191350
16                          AGE   2328.689598
17                    new_F2210   2102.525672
18                    new_F1520   2037.140249
19                    new_F2330   1798.215119
20                    new_F1150   1764.349247
21                        new11   1688.454923
22                    new_F2110   1671.368591
23                        F2340   1629.530431
24                         new8   1453.030295
25                        new25   1434.503210
26                        F1210   1340.370958
27                    new_F1230   1315.170488
28                         new2   1133.014340
29                   F2200_LAG1    623.296301

In [ ]:
sum(all_df.OKVED_CODE_fixed.value_counts())

23739

In [ ]:
all_df.OKVED_CODE_fixed.value_counts()

46.46         2692
RARE_VALUE    1679
41.20          993
46.46.1        779
46.90          610
              ...
47.91           10
71.20.6         10
46.42.11        10
86.23           10
35.30.11        10
Name: OKVED_CODE_fixed, Length: 299, dtype: int64

       id_contract  id_client  IP_flag  ...   new_F2320   new_F2330   new_F2400
0                1       1847        0  ... -30707000.0 -16692000.0 -37171000.0
1                2       4650        1  ...         NaN         NaN         NaN
2                3       4770        0  ...         NaN         NaN    -25000.0
3                4      12237        0  ...  28228000.0   3617000.0 -99194000.0
4                5       9988        1  ...         NaN         NaN         NaN
...            ...        ...      ...  ...         ...         ...         ...
25216        25217       8128        0  ...         NaN         NaN         NaN
25217        25218       1132        0  ...         NaN         NaN         NaN
25218        25219       4932        0  ...         NaN         NaN   1585000.0
25219        25220        537        0  ...         NaN         NaN   -187000.0
25220        25221       9916        0  ...         NaN         NaN         NaN

[25221 rows x 182 columns]

In [ ]:
all_tune_df.groupby('OKTMO_CODE_fixed').aggregate('mean').reset_index()

    OKTMO_CODE_fixed   id_contract  ...  new_F2400  OKATO_REGIONCODE_y
0      10701000001.0  11537.684211  ...   0.029080           10.000000
1      10730000001.0  10812.948980  ...   0.176388           10.000000
2      11701000001.0  14949.181818  ...   0.068197           11.000000
3      11851000001.0  17891.850000  ...   0.110804           11.000000
4      12701000001.0  13547.480247  ...  -0.127625           12.000000
..               ...           ...  ...        ...                 ...
343    96701000001.0  15468.922619  ...  -0.675501           96.000000
344    97701000001.0  13712.666111  ...  -0.052873           97.000000
345    98660101001.0  11482.094697  ...  -0.013356           98.000000
346    98701000001.0  12736.764342  ...  -0.305072           98.000000
347       RARE_VALUE  13052.978219  ...  -0.064771           47.244579

[348 rows x 163 columns]

In [ ]:
d10 = [1,2,3,4,5,6,7,8,9]
def del10(x):
    if np.isnan(x):
        return x
    for i in range(1,10):
        if x<=d10[i]:
            return i

545

In [ ]:
for x in num_columns:
    d10 =[]
    l = min(train_df[x])
    r = max(train_df[x])
    razn = r-l
    for i in range(10):
        d10.append(l+razn*0.1*i)
    train_df[x] = train_df[x].apply(del10)
    test_df[x] = test_df[x].apply(del10)

8.340066415257752e-09

In [ ]:
all_tune_df2 = all_tune_df.copy()

In [ ]:
all_tune_df2

      id_client  id_contract  ...  MANAGERINNCOUNT_fixed               new_double
0             1       5166.0  ...                    1.0        RARE_VALUE6 .. 10
1             2       2389.0  ...                    1.0        RARE_VALUE6 .. 10
2             3      17329.0  ...                    1.0         RARE_VALUE0 .. 5
3             5      15086.0  ...                    1.0  79701000001.0251 .. 500
4             7        933.0  ...                    NaN         79701000001.0nan
...         ...          ...  ...                    ...                      ...
13678     12725      20931.0  ...                    1.0      45323000000.00 .. 5
13679     12726      21787.0  ...                    1.0      45327000000.00 .. 5
13680     12728      20031.0  ...                    3.0      45329000000.00 .. 5
13681     12729      24210.5  ...                    1.0  45321000000.0101 .. 150
13682     12730      24858.0  ...                    1.0      45321000000.00 .. 5

[13683 rows x 181 columns]

In [ ]:
def mean_nan(a):
    s = 0
    n = 0
    for x in a:
        if (1-np.isnan(x)):
            s+=x
            n+=1
    if n==0:
        return np.nan
    return s/n

In [ ]:
mean_nan([np.nan,np.nan,np.nan])

nan

In [ ]:
all_tune_df[['F1150']].fillna(all_tune_df.groupby('new_double').transform(mean_nan))

          F1150
0      0.149574
1      0.149574
2      0.149574
3      0.149574
4           NaN
...         ...
13678 -0.230667
13679       NaN
13680       NaN
13681       NaN
13682 -0.230667

[13683 rows x 1 columns]

In [ ]:
top30_test = ['id_client',
 'id_contract',
 'OKVED_CODE_fixed',
 'WORKERSRANGE',
 'OKTMO_CODE_fixed',
 'new16',
 'OKATO_REGIONCODE_y',
 'new_F2200',
 'TELEPHONECOUNT_fixed',
 'new_F2300',
 'new_F2400',
 'OKFS_GROUP',
 'OKATO_FED_y',
 'F2410',
 'new1',
 'AGE',
 'SIGNEDNUMBER_95_EVER',
 'new15',
 'new_F1520',
 'new_F1150',
 'new25',
 'MANAGERCOUNTINCOUNTRY_fixed',
 'new_F2110',
 'new_F2210',
 'F2340',
 'new11',
 'new_F2330',
 'new2',
 'F1210',
 'F2200_LAG1',
 'new8',
 'new_F1230','new_double']

In [ ]:
all_tune_df_last = all_tune_df[top30_test].drop(['OKVED_CODE_fixed','WORKERSRANGE'],axis=1)

In [ ]:
last_num = ['new16','new_F2200','new_F2300','new_F2400','F2410','new1','AGE','SIGNEDNUMBER_95_EVER','new15','new_F1520','new_F1150','new25','new_F2110','new_F2210','F2340','new11','new_F2330','new2','F1210','F2200_LAG1','new8','new_F1230']

In [ ]:
#all_tune_df.grcoupby('WORKERSRANGE').aggregate('mean').reset_index()

In [ ]:
t = 0
for x in last_num:
    print(t)
    all_tune_df_last[x] = all_tune_df_last[[x]].fillna(all_tune_df_last.groupby('new_double').transform(mean_nan))
    t+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [ ]:
fimoirtall_tune_df_last['new_double']

0              RARE_VALUE6 .. 10
1              RARE_VALUE6 .. 10
2               RARE_VALUE0 .. 5
3        79701000001.0251 .. 500
4               79701000001.0nan
                  ...
13678        45323000000.00 .. 5
13679        45327000000.00 .. 5
13680        45329000000.00 .. 5
13681    45321000000.0101 .. 150
13682        45321000000.00 .. 5
Name: new_double, Length: 13683, dtype: object

In [ ]:
all_tune_df_last

      id_client  id_contract  ... new_F1230               new_double
0             1       5166.0  ... -0.291573        RARE_VALUE6 .. 10
1             2       2389.0  ... -0.126129        RARE_VALUE6 .. 10
2             3      17329.0  ... -0.571415         RARE_VALUE0 .. 5
3             5      15086.0  ... -0.347558  79701000001.0251 .. 500
4             7        933.0  ...       NaN         79701000001.0nan
...         ...          ...  ...       ...                      ...
13678     12725      20931.0  ... -0.374862      45323000000.00 .. 5
13679     12726      21787.0  ... -0.474435      45327000000.00 .. 5
13680     12728      20031.0  ...       NaN      45329000000.00 .. 5
13681     12729      24210.5  ...       NaN  45321000000.0101 .. 150
13682     12730      24858.0  ...  0.540241      45321000000.00 .. 5

[13683 rows x 31 columns]

In [ ]:
all_tune_df_last_train = all_tune_df_last.iloc[:8922,:]
all_tune_df_last_test = all_tune_df_last.iloc[8922:,:]

In [ ]:
all_tune_df_last_train['TARGET'] = labels_tune.apply(n05)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      id_client  id_contract  ... new_F1230               new_double
8922          4      19084.0  ... -0.455846   79701000001.051 .. 100
8923          6      24955.0  ... -0.466136    79701000001.016 .. 50
8924          8      21717.0  ... -0.197423   79701000001.051 .. 100
8925         18      19618.5  ... -0.432415      79701000001.00 .. 5
8926         19      18780.0  ... -0.729150     79701000001.06 .. 10
...         ...          ...  ...       ...                      ...
13678     12725      20931.0  ... -0.374862      45323000000.00 .. 5
13679     12726      21787.0  ... -0.474435      45327000000.00 .. 5
13680     12728      20031.0  ...       NaN      45329000000.00 .. 5
13681     12729      24210.5  ...       NaN  45321000000.0101 .. 150
13682     12730      24858.0  ...  0.540241      45321000000.00 .. 5

[4761 rows x 31 columns]

In [ ]:
N_THREADS = mp.cpu_count() # threads cnt for lgbm and linear models
N_FOLDS = 10 # folds cnt for AutoML - 10 is better
RANDOM_STATE = 42 # fixed random state for various reasons
TIMEOUT = 3600 # Time in seconds for automl run
TARGET_NAME = 'TARGET' # Target column name

In [ ]:
%%time

roles = {'target': TARGET_NAME,
         'drop': ['id_contract','id_client']
         }

CPU times: user 5 µs, sys: 0 ns, total: 5 µs
Wall time: 9.06 µs

In [ ]:
%%time

task = Task('binary', loss='logloss', metric='auc')

CPU times: user 6.78 ms, sys: 3 µs, total: 6.79 ms
Wall time: 14.9 ms

In [ ]:
#### %%time 
automl = TabularAutoML(task = task, 
                       timeout = 2400,
                       cpu_limit = N_THREADS,
                       #general_params = {'use_algos': [['linear_l2', 'lgb', 'lgb_tuned']]},
                       reader_params = {'n_jobs': N_THREADS, 'cv': N_FOLDS, 'random_state': RANDOM_STATE},
                      )
oof_pred = automl.fit_predict(all_tune_df_last_train, roles = roles)
logging.info('oof_pred:\n{}\nShape = {}'.format(oof_pred, oof_pred.shape))

In [ ]:
from sklearn.metrics import roc_auc_score

In [ ]:
roc_auc_score(all_tune_df_last_train.TARGET,oof_pred.data)

0.8041478353317297

In [ ]:
pred=automl.predict(all_tune_df_last_test)

In [ ]:
ot = pd.DataFrame()

In [ ]:
ot['k']=pred.data.squeeze()

In [ ]:
ot.to_csv('phone.csv')

In [ ]:
all_tune_df['new_double'] = all_tune_df[['OKTMO_CODE_fixed','WORKERSRANGE']].apply(lambda x:str(x['OKTMO_CODE_fixed'])+str(x['WORKERSRANGE']),axis=1)

In [ ]:
all_tune_df['new_F1150']

In [ ]:
def obb(x,y):
    return str(x)+str(y)

In [ ]:
all_tune_df[['OKTMO_CODE_fixed','WORKERSRANGE']]

      OKTMO_CODE_fixed WORKERSRANGE
0           RARE_VALUE      6 .. 10
1           RARE_VALUE      6 .. 10
2           RARE_VALUE       0 .. 5
3        79701000001.0   251 .. 500
4        79701000001.0          NaN
...                ...          ...
13678    45323000000.0       0 .. 5
13679    45327000000.0       0 .. 5
13680    45329000000.0       0 .. 5
13681    45321000000.0   101 .. 150
13682    45321000000.0       0 .. 5

[13683 rows x 2 columns]

             k
0     0.060064
1     0.019316
2     0.020526
3     0.074543
4     0.061556
...        ...
4756  0.794643
4757  0.586295
4758  0.327800
4759  0.295420
4760  0.046334

[4761 rows x 1 columns]

In [ ]:
tar = []

In [ ]:
all_tune_df_last_train

     id_client  id_contract  ...               new_double  TARGET
0            1       5166.0  ...        RARE_VALUE6 .. 10       1
1            2       2389.0  ...        RARE_VALUE6 .. 10       0
2            3      17329.0  ...         RARE_VALUE0 .. 5       1
3            5      15086.0  ...  79701000001.0251 .. 500       0
4            7        933.0  ...         79701000001.0nan       0
...        ...          ...  ...                      ...     ...
8917     12731      10258.0  ...         RARE_VALUE0 .. 5       1
8918     12732      10005.0  ...         RARE_VALUE0 .. 5       0
8919     12733       5291.0  ...       RARE_VALUE11 .. 15       0
8920     12734       3304.0  ...         RARE_VALUE0 .. 5       1
8921     12735      12289.0  ...      45382000000.00 .. 5       0

[8922 rows x 32 columns]

In [ ]:
id = list(all_tune_df_last_train['id_client'].array)

In [ ]:
dec = dict(zip(id,labels_tune))

In [ ]:
id_test = list(all_tune_df_last_test['id_client'].array)

In [ ]:
test_df

       id_contract  id_client  IP_flag  ...  new_F2320  new_F2330  new_F2400
17891        17892       3620        1  ...        NaN        NaN        NaN
17892        17893       4101        0  ...        NaN        NaN  -876000.0
17893        17894       9589        0  ...        NaN        NaN   683000.0
17894        17895      11546        0  ...        NaN        NaN   858000.0
17895        17896      12558        0  ...        NaN        NaN  -356000.0
...            ...        ...      ...  ...        ...        ...        ...
25216        25217       8128        0  ...        NaN        NaN        NaN
25217        25218       1132        0  ...        NaN        NaN        NaN
25218        25219       4932        0  ...        NaN        NaN  1585000.0
25219        25220        537        0  ...        NaN        NaN  -187000.0
25220        25221       9916        0  ...        NaN        NaN        NaN

[7330 rows x 182 columns]

In [ ]:
test_pred = list(ot['k'].array)

In [ ]:
#test_pred = list(test_pred)

In [ ]:
for i in range(len(id_test)):
    if id_test[i] in id:
        tar.append(dec[id_test[i]])
    else:
        tar.append(test_pred[i])

In [ ]:
len(tar)

4761

In [ ]:
otpr_df['TARGET'] = tar

In [ ]:
len(tar)

4761

In [ ]:
dec_test = dict(zip(list(all_tune_df_last_test['id_client'].array),tar))

In [ ]:
last_test_df = all_df.loc[17891:,['id_client','id_contract']]

In [ ]:
last_tar = []
last_id = list(last_test_df['id_client'].array)

In [ ]:
for x in last_id:
    last_tar.append(dec_test[x])

In [ ]:
last_test_df['TARGET'] = last_tar

In [ ]:
last_test_df = last_test_df.drop(['id_client'],axis=1)

In [ ]:
a = pd.read_csv('/content/trying_ouh3aaa.csv',sep=';')

In [ ]:
last_test_df['TARGET'] = 0.3*last_test_df['TARGET']+0.7*a.TARGET.array

In [ ]:
last_test_df['TARGET']

17891    0.017388
17892    0.037606
17893    0.081729
17894    0.185982
17895    0.745230
           ...
25216    0.236186
25217    0.013118
25218    0.315224
25219    0.367876
25220    0.029276
Name: TARGET, Length: 7330, dtype: float64

In [ ]:
last_test_df.to_csv('trying_mean_2f2.csv', index=False,sep=';')

In [ ]:
train_tune_df

     id_client  id_contract  ...  MANAGERINNCOUNT_fixed  TARGET
0            1       5166.0  ...                    1.0       1
1            2       2389.0  ...                    1.0       0
2            3      17329.0  ...                    1.0       1
3            5      15086.0  ...                    1.0       0
4            7        933.0  ...                    NaN       0
...        ...          ...  ...                    ...     ...
8917     12731      10258.0  ...                    3.0       1
8918     12732      10005.0  ...                    3.0       0
8919     12733       5291.0  ...                    2.0       0
8920     12734       3304.0  ...                    2.0       1
8921     12735      12289.0  ...                    0.0       0

[8922 rows x 181 columns]

In [ ]:
all_tune_df

      id_client  id_contract  ...  MANAGERINNCOUNT_fixed               new_double
0             1       5166.0  ...                    1.0        RARE_VALUE6 .. 10
1             2       2389.0  ...                    1.0        RARE_VALUE6 .. 10
2             3      17329.0  ...                    1.0         RARE_VALUE0 .. 5
3             5      15086.0  ...                    1.0  79701000001.0251 .. 500
4             7        933.0  ...                    NaN         79701000001.0nan
...         ...          ...  ...                    ...                      ...
13678     12725      20931.0  ...                    1.0      45323000000.00 .. 5
13679     12726      21787.0  ...                    1.0      45327000000.00 .. 5
13680     12728      20031.0  ...                    3.0      45329000000.00 .. 5
13681     12729      24210.5  ...                    1.0  45321000000.0101 .. 150
13682     12730      24858.0  ...                    1.0      45321000000.00 .. 5

[13683 rows x 181 columns]

In [ ]:
a = pd.read_csv('/content/trying_ouh3aaa.csv',sep=';')

In [ ]:
all_tar = list(labels_tune.array)+list(a['TARGET'].apply(n05).array)

In [ ]:
all_tune_df['TARGET'] = all_tar

ValueError: ignored

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
a1 = pd.read_csv('/content/trying_kruto0999__2021-11-09T00_21_58.207288 03_00-2.csv',sep=';')
a2 = pd.read_csv('/content/trying_mean_2f2__2021-11-15T17_49_13.392986 03_00.csv',sep=';')
a3 = pd.read_csv('/content/trying_ouh3b__2021-11-10T02_08_58.581867 03_00.csv',sep=';')
a4 = pd.read_csv('/content/trying_scaled blend3__2021-11-15T00_08_50.096534 03_00.csv',sep=';')

In [ ]:
tar = (a1.TARGET+a2.TARGET+a3.TARGET+a4.TARGET)/4

In [ ]:
a1['TARGET'] = list(tar.array)

In [ ]:
a1.TARGET

0       0.011392
1       0.038022
2       0.099895
3       0.216368
4       0.876968
          ...
7325    0.298488
7326    0.007697
7327    0.362437
7328    0.422045
7329    0.039196
Name: TARGET, Length: 7330, dtype: float64

In [ ]:
a1.to_csv('trying_super_blend.csv',sep=';',index=False)

In [ ]:
a1

      id_contract    TARGET
0           17892  0.011392
1           17893  0.038022
2           17894  0.099895
3           17895  0.216368
4           17896  0.876968
...           ...       ...
7325        25217  0.298488
7326        25218  0.007697
7327        25219  0.362437
7328        25220  0.422045
7329        25221  0.039196

[7330 rows x 2 columns]