In [ ]:
import numpy as np
import pandas as pd

In [ ]:
l_d5 = pd.read_csv('/content/last_df_mkd(5.11).csv')

In [ ]:
l_d5['id_client'].value_counts()

5159     524
10092    316
4613     278
5357     231
2483     182
        ...
4296       1
8382       1
12476      1
2235       1
2049       1
Name: id_client, Length: 12735, dtype: int64

In [ ]:
q = pd.read_csv('/content/train_dataset_hackathon_mkb.csv',sep=';',encoding='cp1251')

In [ ]:
q['TARGET']

0        0
1        0
2        0
3        0
4        0
        ..
17886    0
17887    0
17888    0
17889    1
17890    0
Name: TARGET, Length: 17891, dtype: int64

In [ ]:
train_df = l_d5[:17891]

In [ ]:
train_df['TARGET'] = q['TARGET']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
train_df[train_df['id_client']==4613][['new_SIGN_DATE_year','TARGET']].sort_values(by='TARGET')

       new_SIGN_DATE_year  TARGET
2795                 2018       1
9159                 2018       1
9253                 2018       1
9254                 2018       1
9255                 2018       1
...                   ...     ...
6793                 2018       1
6792                 2018       1
6770                 2018       1
6865                 2018       1
13883                2018       1

[278 rows x 2 columns]

In [ ]:
all_df = l_d5
test_df = all_df.iloc[17891:,:]

In [ ]:
train_df = train_df.drop(['TARGET'],axis=1)

In [ ]:
obj_df_tr = train_df.loc[:,['id_client','IP_flag','EGRPOINCLUDED','OKFS_GROUP','OKOPF_GROUP','OKOGU_GROUP','OKATO_REGIONCODE','OKATO_FED','OKTMO_CODE_fixed','OKTMO_FED','WORKERSRANGE','OKVED_CODE_fixed','FLAG_DISQUALIFICATION','SEX_NAME','CITIZENSHIP_NAME','TELEPHONECOUNT_fixed','MANAGERCOUNTINCOUNTRY_fixed','MANAGERCOUNTINREGION_fixed','MANAGERINNCOUNT_fixed']]

In [ ]:
obj_df_tr = obj_df_tr.astype('category')

In [ ]:
konh = pd.read_csv('/content/konh.csv')

In [ ]:
id_tr = konh.id_client.array

In [ ]:
new_obj_df_tr = pd.DataFrame(columns=obj_df_tr.columns)

In [ ]:
for x in id_tr:
    new_obj_df_tr = new_obj_df_tr.append(obj_df_tr[obj_df_tr.id_client==x][0:1])

In [ ]:
id_te

NameError: ignored

In [ ]:
labels_tune = konh['TARGET']

In [ ]:
obj_df_te = test_df.loc[:,['id_client','IP_flag','EGRPOINCLUDED','OKFS_GROUP','OKOPF_GROUP','OKOGU_GROUP','OKATO_REGIONCODE','OKATO_FED','OKTMO_CODE_fixed','OKTMO_FED','WORKERSRANGE','OKVED_CODE_fixed','FLAG_DISQUALIFICATION','SEX_NAME','CITIZENSHIP_NAME','TELEPHONECOUNT_fixed','MANAGERCOUNTINCOUNTRY_fixed','MANAGERCOUNTINREGION_fixed','MANAGERINNCOUNT_fixed']]

In [ ]:
obj_df_te = obj_df_te.astype('category')

In [ ]:
konh_test = all_df.iloc[17891:,:]

In [ ]:
konh_test = konh_test.groupby('id_client').aggregate('mean').reset_index()

In [ ]:
konh_test.F1160.value_counts()

2.150000e+05    1
8.009000e+06    1
3.687500e+07    1
8.710000e+05    1
3.025000e+06    1
1.262300e+07    1
6.620900e+07    1
1.266000e+06    1
1.184000e+06    1
3.908000e+06    1
1.331000e+06    1
2.155800e+07    1
1.900000e+04    1
7.746000e+06    1
5.930000e+05    1
1.150000e+06    1
5.451000e+06    1
1.133000e+06    1
8.940000e+05    1
4.000000e+04    1
1.037000e+07    1
1.259800e+07    1
3.832400e+07    1
3.690000e+05    1
7.280000e+06    1
3.312000e+06    1
9.790400e+07    1
1.318000e+06    1
9.172000e+06    1
1.693980e+08    1
6.552000e+06    1
1.300000e+05    1
1.330000e+05    1
1.309400e+07    1
2.230000e+05    1
1.390000e+05    1
5.692000e+06    1
1.015570e+08    1
2.977000e+06    1
2.820000e+05    1
2.649000e+06    1
6.000000e+03    1
2.056000e+06    1
2.351000e+06    1
8.238000e+06    1
7.189000e+06    1
2.337998e+09    1
3.823000e+06    1
3.031100e+07    1
3.592000e+06    1
4.436000e+07    1
6.030000e+05    1
9.507000e+06    1
4.178000e+06    1
3.998000e+06    1
Name: F1160, dtype: int64

In [ ]:
konh_test.describe()

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:3968: RuntimeWarning: invalid value encountered in multiply
  x2 = take(ap, indices_above, axis=axis) * weights_above

          id_client    Unnamed: 0  ...     new_F2330     new_F2400
count   4761.000000   4761.000000  ...  6.130000e+02  2.589000e+03
mean    6411.463558  21652.221380  ...  6.455460e+06 -2.607749e+07
std     3656.888423   2123.465805  ...  2.378461e+08  2.426928e+09
min        4.000000  17892.000000  ... -3.079963e+09 -1.180900e+11
25%     3278.000000  19805.000000  ... -5.060000e+05 -9.580000e+05
50%     6441.000000  21691.000000  ...  8.000000e+03  1.630000e+05
75%     9584.000000  23538.500000  ...  1.068000e+06  2.264000e+06
max    12730.000000  25220.000000  ...  3.539916e+09  3.316223e+10

[8 rows x 170 columns]

In [ ]:
konh.describe()

        Unnamed: 0     id_client  ...     new_F2400       TARGET
count  8922.000000   8922.000000  ...  5.328000e+03  8922.000000
mean   4460.500000   6367.712845  ... -3.212004e+05     0.209786
std    2575.703884   3680.554333  ...  1.133635e+09     0.402818
min       0.000000      1.000000  ... -6.370927e+10     0.000000
25%    2230.250000   3179.250000  ... -1.084250e+06     0.000000
50%    4460.500000   6365.500000  ...  1.225000e+05     0.000000
75%    6690.750000   9569.750000  ...  2.344250e+06     0.000000
max    8921.000000  12735.000000  ...  2.792094e+10     1.000000

[8 rows x 171 columns]

In [ ]:
giper_konh = pd.concat([konh,konh_test])

In [ ]:
giper_konh

      Unnamed: 0  id_client  id_contract  ...  new_F2330   new_F2400  TARGET
0            0.0          1       5166.0  ...        NaN    918000.0     1.0
1            1.0          2       2389.0  ...  -200000.0   1095000.0     0.0
2            2.0          3      17329.0  ...        NaN         NaN     1.0
3            3.0          5      15086.0  ...        NaN  19022000.0     0.0
4            4.0          7        933.0  ...        NaN         NaN     0.0
...          ...        ...          ...  ...        ...         ...     ...
4756     20930.0      12725      20931.0  ...        NaN         NaN     NaN
4757     21786.0      12726      21787.0  ...        NaN         NaN     NaN
4758     20030.0      12728      20031.0  ...        NaN         NaN     NaN
4759     24209.5      12729      24210.5  ...        NaN         NaN     NaN
4760     24857.0      12730      24858.0  ...        NaN         NaN     NaN

[13683 rows x 171 columns]

In [ ]:
konh = konh.drop(['TARGET'],axis=1)
konh_test = konh_test.drop(['OKTMO_CODE'],axis=1)

In [ ]:
id_te = konh_test.id_client.array

In [ ]:
new_obj_df_te = pd.DataFrame(columns=obj_df_te.columns)

In [ ]:
for x in id_te:
    new_obj_df_te = new_obj_df_te.append(obj_df_te[obj_df_te.id_client==x][0:1])

In [ ]:
new_obj_df_te

      id_client IP_flag  ... MANAGERCOUNTINREGION_fixed MANAGERINNCOUNT_fixed
19083         4       0  ...                        1.0                   1.0
24954         6       0  ...                        1.0                   1.0
21716         8       0  ...                        1.0                   1.0
19202        18       0  ...                        1.0                   1.0
18779        19       0  ...                        1.0                   1.0
...         ...     ...  ...                        ...                   ...
20930     12725       0  ...                        1.0                   1.0
21786     12726       0  ...                        1.0                   1.0
20030     12728       0  ...                        3.0                   3.0
23912     12729       0  ...                        1.0                   1.0
24857     12730       0  ...                        1.0                   1.0

[4761 rows x 19 columns]

      id_client  id_contract  IP_flag  ...  new_F2320  new_F2330  new_F2400
0             4      19084.0      0.0  ...        NaN        NaN -2093000.0
1             6      24955.0      0.0  ...        NaN        NaN        NaN
2             8      21717.0      0.0  ...        NaN        NaN    38000.0
3            18      19618.5      0.0  ...        NaN        NaN        NaN
4            19      18780.0      0.0  ...     1000.0        NaN  -185000.0
...         ...          ...      ...  ...        ...        ...        ...
4756      12725      20931.0      0.0  ...        NaN        NaN        NaN
4757      12726      21787.0      0.0  ...        NaN        NaN        NaN
4758      12728      20031.0      0.0  ...        NaN        NaN        NaN
4759      12729      24210.5      0.0  ...        NaN        NaN        NaN
4760      12730      24858.0      0.0  ...        NaN        NaN        NaN

[4761 rows x 168 columns]

In [ ]:
last_train = pd.merge(konh, new_obj_df_tr, on='id_client', how='outer')

In [ ]:
last_test = pd.merge(konh_test, new_obj_df_te, on='id_client', how='outer')

In [ ]:
all_tune_df = pd.concat([last_train,last_test]).reset_index().drop(['index'],axis=1)

In [ ]:
all_tune_df#8922

       Unnamed: 0 id_client  ...  MANAGERCOUNTINREGION_fixed  MANAGERINNCOUNT_fixed
0             0.0         1  ...                         1.0                    1.0
1             1.0         2  ...                         1.0                    1.0
2             2.0         3  ...                         1.0                    1.0
3             3.0         5  ...                         1.0                    1.0
4             4.0         7  ...                         NaN                    NaN
...           ...       ...  ...                         ...                    ...
13678     20930.0     12725  ...                         1.0                    1.0
13679     21786.0     12726  ...                         1.0                    1.0
13680     20030.0     12728  ...                         3.0                    3.0
13681     24209.5     12729  ...                         1.0                    1.0
13682     24857.0     12730  ...                         1.0                    1.0

[13683 rows x 188 columns]

In [ ]:
all_tune_df = all_tune_df.drop(['FLAG_DISQUALIFICATION_x','EGRPOINCLUDED_x','OKATO_REGIONCODE_x','OKATO_FED_x','OKTMO_FED_x'],axis=1)

In [ ]:
sorted(list(all_tune_df.new4.unique()))[-2]
l = [4,5,6,7,10,13,16,19,20,21,22,23,24,25,26,27,28]
def min_inf(x):
    if x==np.inf:
        return m**3
    return x
for x in l:
    m = sorted(list(all_tune_df['new'+str(x)].unique()))[-2]
    all_tune_df['new'+str(x)] = all_tune_df['new'+str(x)].apply(min_inf)

In [ ]:
new = 'new_F1150	new_F1230	new_F1410	new_F1510	new_F1520	new_F2110	new_F2120	new_F2200	new_F2210	new_F2220	new_F2300	new_F2320	new_F2330'
new = new.split()
new = new + ['new0','new1','new2','new3','new9','new12','new15','new18']

In [ ]:
for x in new:
    m = sorted(list(all_tune_df[x].unique()))[-2]
    all_tune_df[x] = all_tune_df[x].apply(min_inf)

In [ ]:
all_tune_df.describe()

         Unnamed: 0   id_contract  ...     new_F2400  OKATO_REGIONCODE_y
count  13683.000000  13683.000000  ...  7.917000e+03        12976.000000
mean   10442.359643  13355.363216  ... -8.743966e+06           46.353961
std     8541.378328   7338.153942  ...  1.670505e+09           25.274766
min        0.000000      2.000000  ... -1.180900e+11            1.000000
25%     3420.500000   7189.500000  ... -1.048000e+06           28.000000
50%     6841.000000  13140.000000  ...  1.330000e+05           45.000000
75%    20038.325000  20039.325000  ...  2.332000e+06           65.000000
max    25220.000000  25221.000000  ...  3.316223e+10           99.000000

[8 rows x 165 columns]

In [ ]:
all_tune_df = all_tune_df.drop(['Unnamed: 0'],axis = 1)

In [ ]:
import scipy.stats as st

In [ ]:
all_tune_df = all_tune_df.drop(['id_contract'],axis=1)

In [ ]:
data = all_tune_df['F1100']

In [ ]:
all_tune_df.columns[120:149]

Index(['new0', 'new1', 'new2', 'new3', 'new4', 'new5', 'new6', 'new7', 'new8',
       'new9', 'new10', 'new11', 'new12', 'new13', 'new14', 'new15', 'new16',
       'new17', 'new18', 'new19', 'new20', 'new21', 'new22', 'new23', 'new24',
       'new25', 'new26', 'new27', 'new28'],
      dtype='object')

In [ ]:
l,r = st.t.interval(alpha=0.995, df=len(data)-sum(np.isnan(data))-1, loc=np.mean(data), scale=np.std(data, ddof=1) / np.sqrt(np.size(data)))

In [ ]:
le_ri = []
def per_fil(x):
    if x<l:
        return l
    if x>r:
        return r
    return x
for x in all_tune_df.columns[149:163]:
    data = all_tune_df[x][(1+(-1)*np.isnan(all_tune_df[x])).apply(np.bool)]
    l,r = st.t.interval(alpha=0.995, df=len(data), loc=np.mean(data), scale=np.std(data, ddof=1) / np.sqrt(np.size(data)))
    le_ri.append(l)
    le_ri.append(r)
    all_tune_df[x] = all_tune_df[x].apply(per_fil)

In [ ]:
all_tune_df.iloc[:,149:163]

       new_F1150  new_F1230  new_F1410  ...  new_F2320  new_F2330   new_F2400
0            0.0        NaN        NaN  ...        NaN        NaN    918000.0
1     -1180000.0  6213000.0        NaN  ...        NaN  -200000.0   1095000.0
2      1005000.0 -2225000.0 -2391000.0  ...        NaN        NaN         NaN
3      9112000.0  2017000.0        NaN  ...   256000.0        NaN  19022000.0
4            NaN        NaN        NaN  ...        NaN        NaN         NaN
...          ...        ...        ...  ...        ...        ...         ...
13678        NaN        NaN        NaN  ...        NaN        NaN         NaN
13679        NaN        NaN        NaN  ...        NaN        NaN         NaN
13680        NaN        NaN        NaN  ...        NaN        NaN         NaN
13681        NaN        NaN        NaN  ...        NaN        NaN         NaN
13682        NaN        NaN        NaN  ...        NaN        NaN         NaN

[13683 rows x 14 columns]

In [ ]:
#x = 'new_F2400'
#data = all_tune_df[x][(1+(-1)*np.isnan(all_tune_df[x])).apply(np.bool)]
#l,r = st.t.interval(alpha=0.995, df=len(data), loc=np.mean(data), scale=np.std(data, ddof=1) / np.sqrt(np.size(data)))
#le_ri.append(l)
#le_ri.append(r)
#all_tune_df[x] = all_tune_df[x].apply(per_fil)

In [ ]:
all_tune_df = all_tune_df.drop(['IP_flag_x'],axis=1)

In [ ]:
all_tune_df.describe()

              F1100         F1110  ...     new_F2400  OKATO_REGIONCODE_y
count  5.610000e+03  8.110000e+02  ...  7.917000e+03        12976.000000
mean   6.190209e+08  1.618913e+07  ...  1.922143e+05           46.353961
std    3.403876e+08  3.605906e+07  ...  1.556608e+07           25.274766
min    5.369539e+08  2.983052e+06  ... -6.145930e+07            1.000000
25%    5.369539e+08  2.983052e+06  ... -1.048000e+06           28.000000
50%    5.369539e+08  2.983052e+06  ...  1.330000e+05           45.000000
75%    5.369539e+08  2.983052e+06  ...  2.332000e+06           65.000000
max    2.287839e+09  1.437894e+08  ...  4.397137e+07           99.000000

[8 rows x 162 columns]

In [ ]:
all_tune_df['OKATO_REGIONCODE_y']=yall_tune_df['OKATO_REGIONCODE_y'].astype('category')

In [ ]:
!pip install lightautoml

WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
Collecting lightautoml
  Using cached LightAutoML-0.3.1-py3-none-any.whl (293 kB)
Collecting poetry-core<2.0.0,>=1.0.0
  Using cached poetry_core-1.0.7-py2.py3-none-any.whl (424 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from lightautoml) (4.62.3)
Collecting catboost
  Using cached catboost-1.0.3-cp37-none-manylinux1_x86_64.whl (76.3 MB)
Requirement already satisfied: pandas>=1 in /usr/local/lib/python3.7/dist-packages (from lightautoml) (1.1.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from lightautoml) (1.4.1)
Collecting torch<1.9
  Using cached torch-1.8.1-cp37-cp37m-manylinux1_x86_64.whl (804.1 MB)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from lightautoml) (2.11.3)
Collecting json2html
  Using cached json2html-1.3.0-py3-none-any.whl
Requirement already satisfied: torchvision in /usr/local/lib/python3.7/dist-packages (from lightautoml) (0.11.1+cu111)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.7/dist-packages (from lightautoml) (1.0.1)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from lightautoml) (3.13)
Collecting dataclasses==0.6
  Using cached dataclasses-0.6-py3-none-any.whl (14 kB)
Collecting cmaes
  Using cached cmaes-0.8.2-py3-none-any.whl (15 kB)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from lightautoml) (0.11.2)
Requirement already satisfied: importlib-metadata<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from lightautoml) (1.7.0)
Requirement already satisfied: numpy>=1.20.0 in /usr/local/lib/python3.7/dist-packages (from lightautoml) (1.21.4)
Collecting autowoe>=1.2
  Using cached AutoWoE-1.2.5-py3-none-any.whl (204 kB)
Collecting lightgbm<3.0,>=2.3
  Using cached lightgbm-2.3.1-py2.py3-none-manylinux1_x86_64.whl (1.2 MB)
Requirement already satisfied: holidays in /usr/local/lib/python3.7/dist-packages (from lightautoml) (0.10.5.2)
Collecting optuna
  Using cached optuna-2.10.0-py3-none-any.whl (308 kB)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from lightautoml) (1.1.0)
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from lightautoml) (2.6.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from autowoe>=1.2->lightautoml) (3.2.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from autowoe>=1.2->lightautoml) (2018.9)
Requirement already satisfied: pytest in /usr/local/lib/python3.7/dist-packages (from autowoe>=1.2->lightautoml) (3.6.4)
Requirement already satisfied: sphinx in /usr/local/lib/python3.7/dist-packages (from autowoe>=1.2->lightautoml) (1.8.6)
Collecting sphinx-rtd-theme
  Using cached sphinx_rtd_theme-1.0.0-py2.py3-none-any.whl (2.8 MB)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata<2.0,>=1.0->lightautoml) (3.6.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1->lightautoml) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1->lightautoml) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22->lightautoml) (3.0.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch<1.9->lightautoml) (3.10.0.2)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost->lightautoml) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost->lightautoml) (4.4.1)
Requirement already satisfied: hijri-converter in /usr/local/lib/python3.7/dist-packages (from holidays->lightautoml) (2.2.2)
Requirement already satisfied: convertdate>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from holidays->lightautoml) (2.3.2)
Requirement already satisfied: korean-lunar-calendar in /usr/local/lib/python3.7/dist-packages (from holidays->lightautoml) (0.2.1)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /usr/local/lib/python3.7/dist-packages (from convertdate>=2.3.0->holidays->lightautoml) (0.5.11)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->lightautoml) (2.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->autowoe>=1.2->lightautoml) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->autowoe>=1.2->lightautoml) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->autowoe>=1.2->lightautoml) (0.11.0)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from optuna->lightautoml) (1.4.27)
Collecting cliff
  Using cached cliff-3.9.0-py3-none-any.whl (80 kB)
Collecting alembic
  Using cached alembic-1.7.5-py3-none-any.whl (209 kB)
Collecting colorlog
  Using cached colorlog-6.6.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from optuna->lightautoml) (21.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna->lightautoml) (1.1.2)
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.7/dist-packages (from alembic->optuna->lightautoml) (5.4.0)
Requirement already satisfied: Mako in /usr/local/lib/python3.7/dist-packages (from alembic->optuna->lightautoml) (1.1.6)
Requirement already satisfied: pbr!=2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna->lightautoml) (5.8.0)
Requirement already satisfied: autopage>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna->lightautoml) (0.4.0)
Requirement already satisfied: PrettyTable>=0.7.2 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna->lightautoml) (2.4.0)
Requirement already satisfied: cmd2>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna->lightautoml) (2.3.2)
Requirement already satisfied: stevedore>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna->lightautoml) (3.5.0)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna->lightautoml) (0.2.5)
Requirement already satisfied: pyperclip>=1.6 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna->lightautoml) (1.8.2)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna->lightautoml) (21.2.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost->lightautoml) (1.3.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from pytest->autowoe>=1.2->lightautoml) (57.4.0)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from pytest->autowoe>=1.2->lightautoml) (1.11.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from pytest->autowoe>=1.2->lightautoml) (8.11.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.7/dist-packages (from pytest->autowoe>=1.2->lightautoml) (0.7.1)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.7/dist-packages (from pytest->autowoe>=1.2->lightautoml) (1.4.0)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from sphinx->autowoe>=1.2->lightautoml) (2.23.0)
Requirement already satisfied: alabaster<0.8,>=0.7 in /usr/local/lib/python3.7/dist-packages (from sphinx->autowoe>=1.2->lightautoml) (0.7.12)
Requirement already satisfied: docutils<0.18,>=0.11 in /usr/local/lib/python3.7/dist-packages (from sphinx->autowoe>=1.2->lightautoml) (0.17.1)
Requirement already satisfied: babel!=2.0,>=1.3 in /usr/local/lib/python3.7/dist-packages (from sphinx->autowoe>=1.2->lightautoml) (2.9.1)
Requirement already satisfied: snowballstemmer>=1.1 in /usr/local/lib/python3.7/dist-packages (from sphinx->autowoe>=1.2->lightautoml) (2.2.0)
Requirement already satisfied: imagesize in /usr/local/lib/python3.7/dist-packages (from sphinx->autowoe>=1.2->lightautoml) (1.3.0)
Requirement already satisfied: Pygments>=2.0 in /usr/local/lib/python3.7/dist-packages (from sphinx->autowoe>=1.2->lightautoml) (2.6.1)
Requirement already satisfied: sphinxcontrib-websupport in /usr/local/lib/python3.7/dist-packages (from sphinx->autowoe>=1.2->lightautoml) (1.2.4)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->sphinx->autowoe>=1.2->lightautoml) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->sphinx->autowoe>=1.2->lightautoml) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->sphinx->autowoe>=1.2->lightautoml) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->sphinx->autowoe>=1.2->lightautoml) (2.10)
Requirement already satisfied: sphinxcontrib-serializinghtml in /usr/local/lib/python3.7/dist-packages (from sphinxcontrib-websupport->sphinx->autowoe>=1.2->lightautoml) (1.1.5)
Collecting torchvision
  Using cached torchvision-0.11.1-cp37-cp37m-manylinux1_x86_64.whl (23.3 MB)
  Using cached torchvision-0.10.1-cp37-cp37m-manylinux1_x86_64.whl (22.1 MB)
Requirement already satisfied: pillow>=5.3.0 in /usr/local/lib/python3.7/dist-packages (from torchvision->lightautoml) (7.1.2)
  Using cached torchvision-0.10.0-cp37-cp37m-manylinux1_x86_64.whl (22.1 MB)
  Using cached torchvision-0.9.1-cp37-cp37m-manylinux1_x86_64.whl (17.4 MB)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
Installing collected packages: torch, sphinx-rtd-theme, lightgbm, colorlog, cmaes, cliff, alembic, torchvision, poetry-core, optuna, json2html, dataclasses, catboost, autowoe, lightautoml
  Attempting uninstall: lightgbm
    WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
    Found existing installation: lightgbm 2.2.3
    Uninstalling lightgbm-2.2.3:
      Successfully uninstalled lightgbm-2.2.3
  Attempting uninstall: torchvision
    WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
    Found existing installation: torchvision 0.11.1+cu111
    Uninstalling torchvision-0.11.1+cu111:
      Successfully uninstalled torchvision-0.11.1+cu111
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
torchtext 0.11.0 requires torch==1.10.0, but you have torch 1.8.1 which is incompatible.
torchaudio 0.10.0+cu111 requires torch==1.10.0, but you have torch 1.8.1 which is incompatible.
Successfully installed alembic-1.7.5 autowoe-1.2.5 catboost-1.0.3 cliff-3.9.0 cmaes-0.8.2 colorlog-6.6.0 dataclasses-0.6 json2html-1.3.0 lightautoml-0.3.1 lightgbm-2.3.1 optuna-2.10.0 poetry-core-1.0.7 sphinx-rtd-theme-1.0.0 torch-1.8.1 torchvision-0.9.1

In [ ]:
# Ð¾Ñ‚ÐºÐ»ÑŽÑ‡Ð¸Ð¼ Ð¿Ñ€ÐµÐ´ÑƒÐ¿Ñ€ÐµÐ¶Ð´ÐµÐ½Ð¸Ñ Anaconda
import warnings
warnings.simplefilter('ignore')

# Ð±ÑƒÐ´ÐµÐ¼ Ð¾Ñ‚Ð¾Ð±Ñ€Ð°Ð¶Ð°Ñ‚ÑŒ Ð³Ñ€Ð°Ñ„Ð¸ÐºÐ¸ Ð¿Ñ€ÑÐ¼Ð¾ Ð² jupyter'e
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
#Ð³Ñ€Ð°Ñ„Ð¸ÐºÐ¸ Ð² svg Ð²Ñ‹Ð³Ð»ÑÐ´ÑÑ‚ Ð±Ð¾Ð»ÐµÐµ Ñ‡ÐµÑ‚ÐºÐ¸Ð¼Ð¸
%config InlineBackend.figure_format = 'svg' 

#ÑƒÐ²ÐµÐ»Ð¸Ñ‡Ð¸Ð¼ Ð´ÐµÑ„Ð¾Ð»Ñ‚Ð½Ñ‹Ð¹ Ñ€Ð°Ð·Ð¼ÐµÑ€ Ð³Ñ€Ð°Ñ„Ð¸ÐºÐ¾Ð²
from pylab import rcParams
rcParams['figure.figsize'] = 8, 5
import pandas as pd
# Standard python libraries
import logging
import os
import time
import requests
logging.basicConfig(format='[%(asctime)s] (%(levelname)s): %(message)s', level=logging.INFO)
import lightautoml

# Installed libraries
import numpy as np
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
import torch

# Imports from our package
from lightautoml.automl.presets.tabular_presets import TabularAutoML, TabularUtilizedAutoML
from lightautoml.tasks import Task

import multiprocessing as mp

# set option of max 100 displayed rows
pd.set_option('display.max_rows', 200)

In [ ]:
q = all_tune_df[['OKVED_CODE_fixed','WORKERSRANGE']]

In [ ]:
all_tune_df['double'] = q.apply(lambda x: str(x['OKVED_CODE_fixed'])+str(x['WORKERSRANGE']),axis=1)

In [ ]:
#'id_contract',
top_feat = ['id_client',
 'OKVED_CODE_fixed',
 'WORKERSRANGE',
 'OKTMO_CODE_fixed',
 'new16',
 'OKATO_REGIONCODE_y',
 'new_F2200',
 'TELEPHONECOUNT_fixed',
 'new_F2300',
 'new_F2400',
 'OKFS_GROUP',
 'OKATO_FED_y',
 'F2410',
 'new1',
 'AGE',
 'SIGNEDNUMBER_95_EVER',
 'new15',
 'new_F1520',
 'new_F1150',
 'new25',
 'MANAGERCOUNTINCOUNTRY_fixed',
 'new_F2110',
 'new_F2210',
 'F2340',
 'new11',
 'new_F2330',
 'new2',
 'F1210',
 'F2200_LAG1',
 'new8',
 'new_F1230','new_DATEFIRSTREG_year','new17','new10','F2350','F1100','new_DATEFIRSTREG_month','new8','new17','new_SIGN_DATE_month','double']

In [ ]:
all_tune_df_fil = all_tune_df[top_feat]

In [ ]:
!pip install pandas --upgrade

WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)

In [ ]:
all_tune_df_fil

      id_client OKVED_CODE_fixed  ...           double    ind
0             1            43.11  ...     43.116 .. 10      0
1             2            31.09  ...     31.096 .. 10      1
2             3            10.11  ...      10.110 .. 5      2
3             5            10.51  ...  10.51251 .. 500      3
4             7          47.52.7  ...       47.52.7nan      4
...         ...              ...  ...              ...    ...
13678     12725            46.73  ...      46.730 .. 5  13678
13679     12726            45.31  ...      45.310 .. 5  13679
13680     12728            41.20  ...      41.200 .. 5  13680
13681     12729            46.46  ...  46.46101 .. 150  13681
13682     12730            72.19  ...      72.190 .. 5  13682

[13683 rows x 38 columns]

In [ ]:
!pip uninstall pandas
!pip install pandas==1.1.5

WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
Found existing installation: pandas 1.3.4
Uninstalling pandas-1.3.4:
  Would remove:
    /usr/local/lib/python3.7/dist-packages/pandas-1.3.4.dist-info/*
    /usr/local/lib/python3.7/dist-packages/pandas/*
Proceed (y/n)? y
  Successfully uninstalled pandas-1.3.4
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
Collecting pandas==1.1.5
  Downloading pandas-1.1.5-cp37-cp37m-manylinux1_x86_64.whl (9.5 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9.5 MB 6.0 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas==1.1.5) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.1.5) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas==1.1.5) (1.21.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas==1.1.5) (1.15.0)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
Installing collected packages: pandas
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
woodwork 0.9.1 requires pandas>=1.3.0, but you have pandas 1.1.5 which is incompatible.
featuretools 0.27.1 requires pandas<2.0.0,>=1.2.0, but you have pandas 1.1.5 which is incompatible.
Successfully installed pandas-1.1.5

In [ ]:
all_tune_df_fil.to_csv('alldf.csv')

In [ ]:
!pip install featuretools

WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
Collecting featuretools
  Downloading featuretools-1.2.0-py3-none-any.whl (335 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 335 kB 6.5 MB/s
Collecting woodwork>=0.8.1
  Downloading woodwork-0.9.1-py3-none-any.whl (150 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 150 kB 56.9 MB/s
Collecting pyyaml>=5.4
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 596 kB 43.5 MB/s
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.7/dist-packages (from featuretools) (1.4.1)
Collecting distributed>=2021.10.0
  Downloading distributed-2021.11.2-py3-none-any.whl (802 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 802 kB 47.1 MB/s
Requirement already satisfied: numpy>=1.18.0 in /usr/local/lib/python3.7/dist-packages (from featuretools) (1.21.4)
Requirement already satisfied: tqdm>=4.32.0 in /usr/local/lib/python3.7/dist-packages (from featuretools) (4.62.3)
Requirement already satisfied: click>=7.0.0 in /usr/local/lib/python3.7/dist-packages (from featuretools) (7.1.2)
Collecting pandas<2.0.0,>=1.3.0
  Downloading pandas-1.3.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 11.3 MB 42.7 MB/s
Collecting cloudpickle>=1.5.0
  Downloading cloudpickle-2.0.0-py3-none-any.whl (25 kB)
Collecting psutil>=5.6.6
  Downloading psutil-5.8.0-cp37-cp37m-manylinux2010_x86_64.whl (296 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 296 kB 59.2 MB/s
Collecting dask[dataframe]>=2021.10.0
  Downloading dask-2021.11.2-py3-none-any.whl (1.0 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1.0 MB 67.8 MB/s
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]>=2021.10.0->featuretools) (21.3)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]>=2021.10.0->featuretools) (0.11.2)
Collecting fsspec>=0.6.0
  Downloading fsspec-2021.11.0-py3-none-any.whl (132 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 132 kB 60.4 MB/s
Collecting partd>=0.3.10
  Downloading partd-1.2.0-py3-none-any.whl (19 kB)
Requirement already satisfied: tornado>=5 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.10.0->featuretools) (5.1.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.10.0->featuretools) (2.11.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.10.0->featuretools) (57.4.0)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.10.0->featuretools) (1.7.0)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.10.0->featuretools) (1.0.2)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.10.0->featuretools) (2.4.0)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.10.0->featuretools) (2.0.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->dask[dataframe]>=2021.10.0->featuretools) (3.0.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.3.0->featuretools) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.3.0->featuretools) (2.8.2)
Collecting locket
  Downloading locket-0.2.1-py2.py3-none-any.whl (4.1 kB)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas<2.0.0,>=1.3.0->featuretools) (1.15.0)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.7/dist-packages (from woodwork>=0.8.1->featuretools) (1.0.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22->woodwork>=0.8.1->featuretools) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22->woodwork>=0.8.1->featuretools) (3.0.0)
Requirement already satisfied: heapdict in /usr/local/lib/python3.7/dist-packages (from zict>=0.1.3->distributed>=2021.10.0->featuretools) (1.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->distributed>=2021.10.0->featuretools) (2.0.1)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
Installing collected packages: locket, pyyaml, partd, fsspec, cloudpickle, psutil, pandas, dask, woodwork, distributed, featuretools
  Attempting uninstall: pyyaml
    WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: cloudpickle
    WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
    Found existing installation: cloudpickle 1.3.0
    Uninstalling cloudpickle-1.3.0:
      Successfully uninstalled cloudpickle-1.3.0
  Attempting uninstall: psutil
    WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
    Found existing installation: psutil 5.4.8
    Uninstalling psutil-5.4.8:
      Successfully uninstalled psutil-5.4.8
  Attempting uninstall: pandas
    WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
    Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
  Attempting uninstall: dask
    WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
    Found existing installation: dask 2.12.0
    Uninstalling dask-2.12.0:
      Successfully uninstalled dask-2.12.0
  Attempting uninstall: distributed
    WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
    Found existing installation: distributed 1.25.3
    Uninstalling distributed-1.25.3:
      Successfully uninstalled distributed-1.25.3
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
gym 0.17.3 requires cloudpickle<1.7.0,>=1.2.0, but you have cloudpickle 2.0.0 which is incompatible.
google-colab 1.0.0 requires pandas~=1.1.0; python_version >= "3.0", but you have pandas 1.3.4 which is incompatible.
Successfully installed cloudpickle-2.0.0 dask-2021.11.2 distributed-2021.11.2 featuretools-1.2.0 fsspec-2021.11.0 locket-0.2.1 pandas-1.3.4 partd-1.2.0 psutil-5.8.0 pyyaml-6.0 woodwork-0.9.1

In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

import featuretools as ft
from featuretools.primitives import *
#from featuretools.variable_types import Numeric

from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.linear_model import LinearRegression, LogisticRegression, LassoCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import explained_variance_score
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel, SelectKBest, RFE, chi2

# model tuning
from hyperopt import STATUS_OK, Trials, fmin, hp, tpe, space_eval

import warnings
warnings.filterwarnings("ignore")

In [ ]:
!pip uninstall featuretools==0.27.1

WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
Found existing installation: featuretools 0.27.1
Uninstalling featuretools-0.27.1:
  Would remove:
    /usr/local/bin/featuretools
    /usr/local/lib/python3.7/dist-packages/featuretools-0.27.1.dist-info/*
    /usr/local/lib/python3.7/dist-packages/featuretools/*
Proceed (y/n)? y
  Successfully uninstalled featuretools-0.27.1

In [ ]:
!pip install featuretools==0.27.1

WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
Collecting featuretools==0.27.1
  Using cached featuretools-0.27.1-py3-none-any.whl (327 kB)
Requirement already satisfied: click>=7.0.0 in /usr/local/lib/python3.7/dist-packages (from featuretools==0.27.1) (7.1.2)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from featuretools==0.27.1) (1.21.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.7/dist-packages (from featuretools==0.27.1) (1.4.1)
Requirement already satisfied: psutil>=5.6.6 in /usr/local/lib/python3.7/dist-packages (from featuretools==0.27.1) (5.8.0)
Requirement already satisfied: pyyaml>=5.4 in /usr/local/lib/python3.7/dist-packages (from featuretools==0.27.1) (6.0)
Requirement already satisfied: cloudpickle>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from featuretools==0.27.1) (2.0.0)
Requirement already satisfied: dask[dataframe]>=2.12.0 in /usr/local/lib/python3.7/dist-packages (from featuretools==0.27.1) (2021.11.2)
Requirement already satisfied: distributed>=2.12.0 in /usr/local/lib/python3.7/dist-packages (from featuretools==0.27.1) (2021.11.2)
Requirement already satisfied: pandas<2.0.0,>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from featuretools==0.27.1) (1.3.4)
Requirement already satisfied: tqdm>=4.32.0 in /usr/local/lib/python3.7/dist-packages (from featuretools==0.27.1) (4.62.3)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]>=2.12.0->featuretools==0.27.1) (2021.11.0)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]>=2.12.0->featuretools==0.27.1) (0.11.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]>=2.12.0->featuretools==0.27.1) (21.3)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]>=2.12.0->featuretools==0.27.1) (1.2.0)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.12.0->featuretools==0.27.1) (1.7.0)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.12.0->featuretools==0.27.1) (1.0.2)
Requirement already satisfied: tornado>=5 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.12.0->featuretools==0.27.1) (5.1.1)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.12.0->featuretools==0.27.1) (2.4.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.12.0->featuretools==0.27.1) (2.11.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from distributed>=2.12.0->featuretools==0.27.1) (57.4.0)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.12.0->featuretools==0.27.1) (2.0.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->dask[dataframe]>=2.12.0->featuretools==0.27.1) (3.0.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.2.0->featuretools==0.27.1) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.2.0->featuretools==0.27.1) (2.8.2)
Requirement already satisfied: locket in /usr/local/lib/python3.7/dist-packages (from partd>=0.3.10->dask[dataframe]>=2.12.0->featuretools==0.27.1) (0.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas<2.0.0,>=1.2.0->featuretools==0.27.1) (1.15.0)
Requirement already satisfied: heapdict in /usr/local/lib/python3.7/dist-packages (from zict>=0.1.3->distributed>=2.12.0->featuretools==0.27.1) (1.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->distributed>=2.12.0->featuretools==0.27.1) (2.0.1)
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
Installing collected packages: featuretools
WARNING: Ignoring invalid distribution -orch (/usr/local/lib/python3.7/dist-packages)
Successfully installed featuretools-0.27.1

In [ ]:
ft.variable_types.list_variable_types()

               name       type_string  ... is_registered      parent_type
0           Address           address  ...          True             None
1               Age               age  ...          True          Integer
2     AgeFractional    age_fractional  ...          True           Double
3       AgeNullable      age_nullable  ...          True  IntegerNullable
4           Boolean           boolean  ...          True  BooleanNullable
5   BooleanNullable  boolean_nullable  ...          True             None
6       Categorical       categorical  ...          True             None
7       CountryCode      country_code  ...          True      Categorical
8          Datetime          datetime  ...          True             None
9            Double            double  ...          True             None
10     EmailAddress     email_address  ...          True             None
11         Filepath          filepath  ...          True             None
12        IPAddress        ip_address  ...          True             None
13          Integer           integer  ...          True  IntegerNullable
14  IntegerNullable  integer_nullable  ...          True             None
15          LatLong          lat_long  ...          True             None
16  NaturalLanguage  natural_language  ...          True             None
17          Ordinal           ordinal  ...          True      Categorical
18   PersonFullName  person_full_name  ...          True             None
19      PhoneNumber      phone_number  ...          True             None
20       PostalCode       postal_code  ...          True      Categorical
21    SubRegionCode   sub_region_code  ...          True      Categorical
22        Timedelta         timedelta  ...          True             None
23              URL               url  ...          True             None
24          Unknown           unknown  ...          True             None

[25 rows x 8 columns]

In [ ]:
#all_tune_df_fil['id_kir'] = list(range(13683))

In [ ]:
all_tune_df_fil = all_tune_df_fil.drop(['id_kir'],axis=1)

In [ ]:
es = ft.EntitySet(id = 'MKB')
es = es.entity_from_dataframe( dataframe_name="MKBdf",dataframe = all_tune_df_fil.drop(['id_client'],axis=1),index='ind')

AttributeError: ignored

NameError: ignored

In [ ]:
all_tune_df_fil['ind'] = list(range(13683))

In [ ]:
all_tune_df_fil = all_tune_df_fil.drop(['new8','new17'],axis=1)

In [ ]:
import woodwork

In [ ]:
es.plot()

In [ ]:
primitives = ft.list_primitives()
pd.options.display.max_colwidth = 500
primitives[primitives['type'] == 'aggregation'].head(primitives[primitives['type'] == 'aggregation'].shape[0])

                name  ... return_type
0                std  ...        None
1             median  ...        None
2   avg_time_between  ...        None
3       percent_true  ...        None
4         num_unique  ...        None
5                min  ...        None
6              trend  ...        None
7               mean  ...        None
8    time_since_last  ...        None
9              count  ...        None
10               any  ...        None
11             first  ...        None
12              skew  ...        None
13     n_most_common  ...        None
14          num_true  ...        None
15           entropy  ...        None
16               max  ...        None
17              mode  ...        None
18  time_since_first  ...        None
19               all  ...        None
20               sum  ...        None
21              last  ...        None

[22 rows x 7 columns]

In [ ]:
feature_matrix, feature_defs = ft.dfs(
    entityset=es, 
    trans_primitives = [
        'add_numeric', 
        'multiply_numeric',
        'divide_numeric'
    ]
)

KeyError: ignored